[2019-07-23 10:13] joshbode opened #4 "Output should import types and BaseModel"
The generated output should (optionally?) be a complete file ready for import into other projects, and include imports like:
[code]

[2019-07-23 10:34] koxudaxi commented on #4
I want to generate output  `imports`.
But, Not implemented yet.

[2019-07-23 10:36] koxudaxi opened #5 "Publish this package on pypi"
I will try to publish the package soon.

[2019-07-23 10:44] joshbode commented on #5
see my PR :)

[2019-07-23 11:04] joshbode opened #7 "Use `Optional` for nullable fields?"
If a field is `nullable` (https://swagger.io/docs/specification/data-models/data-types/#null) use the `Optional` type hint (https://pydantic-docs.helpmanual.io/#pep-484-types)

[2019-07-23 11:26] joshbode commented on #4
I put a basic `import` into #8

[2019-07-23 12:10] #5 closed

[2019-07-23 12:15] #7 closed

[2019-07-23 12:16] joshbode commented on #5
If you push a tag, I think the build should upload to pypi (if we're lucky!)

[2019-07-23 12:16] #4 closed

[2019-07-23 12:27] joshbode commented on #5
Oops, I think we need to add `long_description_content_type = text/markdown` to the metadata section of `setup.cfg`

This is the error on upload in the build logs:
[code]

[2019-07-23 12:27] joshbode commented on #5
Just saw your commit

[2019-07-23 12:33] koxudaxi commented on #5
Thank you for watching the repo :)

[2019-07-23 12:37] joshbode commented on #5
Looks like both sub-builds are uploading and the one that gets in second is failing...
Going to bed now, but I'll look at how we can conditionally upload on only one of the builds (3.7 maybe)
In any case, the package is on PyPI!

[2019-07-23 12:45] koxudaxi commented on #5
Thank you for following me.
I'm looking for it too.

[2019-07-23 14:26] koxudaxi opened #15 "add unittest"
We need unittest and cover all.

[2019-07-23 14:40] koxudaxi opened #16 "check code style on CI"
## TODO
### Run a command to check code
- flake8 or black

[2019-07-23 14:41] koxudaxi opened #17 "check type on CI"
## TODO
### Run a command to check type
- mypy

[2019-07-23 14:58] koxudaxi opened #18 "convert plurals to singular"
The PR is to convert plurals to singular for array models.

## Detail
code-generator have to define an item from an array.
But, the code-generator don't know the valid singular name.
I think the code-generator can resolve the singular name with this library.
https://pypi.org/project/inflect/

[2019-07-23 15:48] #18 closed

[2019-07-24 16:16] #17 closed

[2019-07-24 16:16] #16 closed

[2019-07-26 09:06] #15 closed

[2019-07-30 16:32] koxudaxi opened #27 "Support Enums"
support Enums
The generator should handle `Enums` types

## Related Links
### OpenAPI
https://swagger.io/docs/specification/data-models/enums/
### Pydantic
https://pydantic-docs.helpmanual.io/#choices

[2019-07-30 17:26] koxudaxi opened #28 "Add JSON Schema Parser"
The code generator should handle json schema.
The way is to implement JSON Shema Parser.

[2019-07-31 15:54] koxudaxi opened #29 "Support Minimum and Maximum"
I expect to handle `Minimum` and `Maximum`  include `exclusiveMinimum` and `exclusiveMaximum `,  `multipleOf`

## Related PR
https://github.com/koxudaxi/datamodel-code-generator/pull/36

[2019-07-31 16:00] koxudaxi opened #30 "Support String Formats"
## Format types
- [x] date
- [x] date-time
- [x] password
- [ ] byte
- [x] binary
- [x] email
- [x] uuid
- [x] uri
- [x] hostname
- [x] ipv4
- [x] ipv6
- [x] deciaml

[2019-07-31 16:01] koxudaxi opened #31 "Support string pattern"
## Related PR
https://github.com/koxudaxi/datamodel-code-generator/pull/36

[2019-07-31 16:02] koxudaxi opened #32 "Null"
## Related PR
https://github.com/koxudaxi/datamodel-code-generator/pull/36

[2019-07-31 16:03] koxudaxi opened #33 "TODO Create implementation lists"

[2019-08-05 13:33] MrMrRobat opened #37 "Allow custom base class for models"
**Is your feature request related to a problem? Please describe.**
Didn't use this library yet, just looked at code and saw that `BaseModel` is hardcoded in templates as base class for models:
https://github.com/koxudaxi/datamodel-code-generator/blob/f7f00459e9cccede79cec827f7c77557754306a2/datamodel_code_generator/model/template/pydantic/BaseModel.jinja2#L4

**Describe the solution you'd like**
A

[2019-08-05 13:52] koxudaxi commented on #37
@MrMrRobat
Sounds great to me.

Did you expect to use inherited `BasdModel`?

I think the code generator should able to receive the alternative base class as arguments or a config file.

[2019-08-06 15:48] #32 closed

[2019-08-06 15:48] #29 closed

[2019-08-06 15:48] #31 closed

[2019-08-06 15:50] koxudaxi commented on #37
@MrMrRobat
support and publish the feature. Thank you
## Example
`$ datamodel-codegen --input ./tests/data/api.yaml --base-class custom_module.CustomBase`
Output:
[code]

[2019-08-08 13:51] MrMrRobat commented on #37
Looks great, thank you!

[2019-08-08 13:51] #37 closed

[2019-08-09 07:44] dmontagu opened #40 "API Client"
I really like the idea behind this -- jinja is a lot easier to work with than openapi-generator templates and the java-based generators.

Would you have any interest in incorporating api-client-generation capability into this codebase? I would be happy to put a little effort into transforming the API client and templated API generation from https://github.com/dmontagu/fastapi_client into 1) someth

[2019-08-09 14:54] koxudaxi commented on #40
@dmontagu
Thank you for talking me a great plan.
OK, let's think about how to develop features.

I had decided to create another code generator as different projects.
But, I'm thinking `datamodel-code-generator` should support other features as an extension.
Users don't want to install and run a lot of tools.
I imagine  the cli accepts features a sub-command  or options
eg.
[code]

Btw, I tell you

[2019-08-09 15:15] koxudaxi opened #41 "Add Unitest"

[2019-08-09 18:11] dmontagu commented on #40
That sounds good to me. I would be on-board with it accepting arbitrary (jinja) templates, but shipping with one or more, including *at least* pydantic.

I think handling APIs is a natural extension -- it just involves a (related) templated-generation step based on the operations, rather than the schemas.

--------

As a separate note, if we support API client generation, I think we should design

[2019-08-10 17:00] koxudaxi commented on #40
@dmontagu
I agree.

How did you think about technical design for other features? (eg. fastapi client)
Now, Paser class receive the model class.
[code]

I think we should change to
[code]

Also, we may distribute a separate package like this.
[code]
I don't know the idea is good. but, I don't want a package heavyweight.
I see it's a balance.

I feel we must think about the usability for people at f

[2019-08-11 21:21] koxudaxi commented on #40
@dmontagu
How did we start the implement?
I want to merge your api-client. but, I think I should develop the pycharm-plugin first.
Would you create a PR? or Are you busy supporting pydantic community for releasing version 1?

[2019-08-11 21:30] koxudaxi commented on #41
the issue is wrong

[2019-08-11 21:30] #41 closed

[2019-08-11 21:40] dmontagu commented on #40
@koxudaxi
Here's my tentative breakdown of the steps we'll need to cover (probably in this order):
1. APIs-generation works and generates valid files assuming the models are imported (but requires manually adding import statements).
2. Model generation results in one or more model files that can all be imported together without manual modifications to the generated code
3. Add automated import gen

[2019-08-12 17:33] koxudaxi commented on #40
@dmontagu
OK. I seem good the steps.

datamodel-code-generator has the `Import` and `Imports` classes for generating import statements dynamically.
We can use the classes to follow the steps when parsing an input file.

https://github.com/koxudaxi/datamodel-code-generator/blob/4eed7b29eddf1081a648f7451a05cdc791af3a99/datamodel_code_generator/types.py#L7
https://github.com/koxudaxi/datamodel-code-g

[2019-08-13 07:24] dmontagu commented on #40
@koxudaxi that import management is pretty cool!

However, I am concerned about cyclic schema-references (at least with pydantic), which can happen even in cases where there are no cyclic object references. For example, imagine modeling a factory process, where a number of workers are ordered in a sequence, worker types may repeat, and each worker has a reference to the next worker.

This could be

[2019-08-13 07:32] dmontagu commented on #40
Separately, I spent some time reading through the datamodel-code-generator code, and I'm having a little bit of a hard time understanding everything it is doing -- it seems very abstract to me! (But that's not surprising given the goal of supporting arbitrary models...).

In order to support API generation, I think we'd first need something equivalent to the `DataModel` class, but for the `paths`

[2019-08-14 01:50] koxudaxi commented on #40
@dmontagu
Thank you for your great concern.
I think the way is right to resolve the problem of cyclic schema-references.
However, It may be difficult to detect all invalid situation with cyclic schema-references before implement the code generator.
I seem not unfortunate to implement and run unittest of a few patterns.

[2019-08-14 03:55] koxudaxi commented on #40
@dmontagu
Sorry,  the datamodel-code-generator code may be complex because the code separates three layers.
I show you the relation.
parser(eg. openapi parser) --- middle-datamodel --- code-generator(eg. pydantic, fastapi-clinet)

I thought about the scope of the code generator yesterday.

I think `DataModel` is for the data class object.
Also, `DataModel` inherit from `TemplateBase`.
[code]

But,

[2019-09-13 18:44] #27 closed

[2019-09-26 02:14] #33 closed

[2019-09-26 03:02] koxudaxi commented on #40
@dmontagu
Have you been interested in the issue yet?

I thought about the issue for a long time.
Also,  I use the code-generator for our daily project with co-workers.
I think code-generator is for pre-production ready.
This code-generator supports features `enum`, `allof`, `anyof`...

I have the next plan, which is to create a code-generator for fastapi server.
I said this code generator should h

[2019-09-26 03:38] dmontagu commented on #40
I have thought some more about it. You can take a look at the fastapi_client repo (feel free to fork or whatever).

There are some pydantic features coming down the pipe that make building a typed client easier (e.g. parse_as_type). I think this would be very nice when writing tests of your server (not to mention broader use with other OpenAPI APIs).

I have two main frustrations with the current

[2019-09-30 05:39] koxudaxi commented on #40
@dmontagu
Thank you for showing me your thoughts

I decided to delay create a new fastapi code generator by your opinion.
`parse_as_type` is a very good feature. I'm waiting for published version 1 of pydantic.

OK, I will think about the client.

[2019-10-07 17:59] prostomarkeloff commented on #28
Hello! Any updates now?

[2019-10-07 18:27] koxudaxi commented on #28
Thank you for your comment.

Sorry, I'm developing my other projects now. [[local-data-api](https://github.com/koxudaxi/local-data-api), [py-data-api](https://github.com/koxudaxi/py-data-api)]

However, This project is active. I'm going to develop the project this week again.
Also, I'm waiting to publish pydantic version 1 to use `Field()`.

If you want to support JSON schema then, I change a prio

[2019-10-07 18:41] prostomarkeloff commented on #28
Thanks for answer! I`m interesting in this project, i found it when search an any information about json schema parsers and code generators for pydantic. I will try to learn codebase and work about json schema parser.

[2019-10-07 18:53] koxudaxi commented on #28
I guess the work may not hard, because of Json Schema, similar to OpenAPI.
I'm worried that this code is complex... I refactored the code. I feel the code is better than before refactoring :)

[2019-10-07 19:36] prostomarkeloff commented on #28
Firstly, i think about $ref fields, without it, it is easy. I checked readme and saw information what $ref  supported only in 1 file, we should to "fix" that😊

[2019-10-09 08:20] joshbode commented on #28
I'm using https://github.com/wework/json-schema-to-openapi-schema and I haven't had any issues yet, though I'm probably not using all the features of JSON Schema. I use this script to run it from the command line:
[code]

I haven't gotten around to submitting it yet :)

[2019-10-16 16:32] koxudaxi opened #72 "Support external files by $ref"
The code generator supports only one file by $ref
$ref should reference external files.

## Motivation
https://github.com/koxudaxi/datamodel-code-generator/issues/28
@prostomarkeloff said

## Documents
https://swagger.io/docs/specification/using-ref/

[2019-10-20 13:07] prostomarkeloff commented on #28
Sry me, i was very busy in this week. I plan start work about it tomorrow.

[2019-12-01 11:23] stevesimmons opened #82 "JsonSchemaObject's additionalProperties may be boolean"
The OpenAPI v3.0.1 schema allows JsonSchemaObject's additionalProperties to be a boolean or a JsonSchemaObject.

Specifically, the spec (https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#parameterObject) says:

However the definition at L51 of jsonschema.py has:
`additionalProperties: Optional['JsonSchemaObject']`.

This fails on schemas with `additionalProperties: false`.

[2019-12-04 23:13] koxudaxi commented on #82
@stevesimmons
Thank you for posting a feature request.
I have released a new version as `0.2.15`.
If `object` has `additionalProperties` attribute and which is True, then the code-generator add Extra.allow on BaseModel's Config.
This option allows passing additional properties on the pydantic model.

[2020-01-10 04:39] koxudaxi commented on #72
The new version supports remote reference.
https://github.com/koxudaxi/datamodel-code-generator/pull/87

[2020-01-10 04:39] #72 closed

[2020-01-10 04:40] koxudaxi commented on #28
I implemented the feature.
And I have released the version as 0.3.0
https://github.com/koxudaxi/datamodel-code-generator/pull/89

[2020-01-10 04:40] #28 closed

[2020-01-10 04:40] #82 closed

[2020-02-26 04:21] surajbarkale opened #93 "Write description into the generated model"
The generated model does not have the description from source schema. It is useful to have this description in code (for example to provide help text).

[2020-02-26 14:12] koxudaxi commented on #93
@surajbarkale
Thank you for creating this issue.
I feel it's a good idea. I will implement it. of course, welcome a PR from someone.

[2020-03-09 17:08] koxudaxi opened #101 "Support pydantic version to v1.0 or later"
The code-generator creates models for old-style pydantic  (under v1.0)  eg: `UrlStr`
I want to change the supporting version of `pydantic` to v1.0 or later.

Changes
- `UrlStr` to `AnyStr` for URI
- use `Field()`

I considered we should drop the old-pydantic version.
If someone has any idea then, please tell me it.

## Related PRs
https://github.com/koxudaxi/datamodel-code-generator/pull/100
https

[2020-03-12 04:26] petermorrow opened #102 "Support Kubernetes Open API Spec or JSON Schema"
I've tried to run this against Kubernetes OpenAPI Spec but ran into some errors.

[code]
[code]

I also tried the JSON Schema version but hit different errors.

[code]
[code]

**Can this library support Kubernetes Open API Spec or JSON Schema?**

[2020-03-12 16:07] koxudaxi commented on #102
@petermorrow
Thank you for your reporting.
Interesting.

I found two reasons which happen to the problem.
1. The code-generator does not support an array of the type attribute.
You can see the spec of JSONschema.

https://json-schema.org/draft/2019-09/json-schema-validation.html#rfc.section.6.1.1

The codegen was born for openapi. Jsonschema and Openapi are similar, but It's not the same.
I should

[2020-03-13 02:36] petermorrow commented on #102
Thanks @koxudaxi!  How can I help?

[2020-03-13 03:21] koxudaxi commented on #102
@petermorrow

Thank you. If I need your help, then I write it here :slightly_smiling_face:

I need time to fix it. I will implement it tonight again.

BTW, I don't know the openapi file is a valid openapi format.
I can see an openapi validator happens error from this trace.
I think the reasons are Invalid format or the openapi validator has a bug.
[code]

[2020-03-14 23:47] petermorrow commented on #102
That might have something to do with Kubernetes only supporting Open API V2. There is an open PR for supporting V3 kubernetes/enhancements#1263.

That's why I tried going the JSON Schema route with instrumenta/openapi2jsonschema.

[2020-03-16 14:35] #101 closed

[2020-03-16 14:36] koxudaxi commented on #93
The feature has been released as version 0.4.0

[2020-03-16 14:41] koxudaxi commented on #102
@petermorrow

I understand why the code-generator can't parse the YAML.

I'm trying to support the JsonSchem, but It is not complete.
I have to implement a more pattern to support the JsonSchem.

[2020-03-21 11:23] pkucmus opened #105 "The underlying validation library is broken/unmaintained."
p1c2u/openapi-spec-validator as great as it is, does not properly validate valid OpenAPI 3 specs (at least not all of them) - since model generation relies on validation this library is also "broken" (I tried to avoid this word but my English is not good enough)

The solution could be:
1. us taking matters in our own hands
2. using a proper validation tool like https://www.npmjs.com/package/swagge

[2020-03-22 08:26] koxudaxi commented on #105
@pkucmus
Thank you for creating this issue.

Interesting. I have not known that `p1c2u/openapi-spec-validator ` doesn't cover all OpenAPI Spec 3.

I feel good about the choice.

I would validate an OpenAPI file by the library. However, The feature doesn't need on `datamodel-code-generator`.
`datamodel-code-generator` is code-generator, It is not `validator`. (some users should use other tools like

[2020-03-22 18:46] pkucmus commented on #105
I think that making the validation optional would be the way to go, by a `--no-validate/--validate` option, maybe?
Then there's the fact that we are lacking a proper OpenAPI 3 validator for Python but it's not an issue of this project.

[2020-03-23 17:58] koxudaxi commented on #105
@pkucmus
I have released a new version as  `0.4.1`.
I change the validation feature to optional.
If you add `--validation` on the CLI option then the code-generator validates an OpenAPI file.

[2020-04-05 09:28] HuiiBuh opened #111 "JSON key error"
**Describe the bug**
I want to create pydantic models for the Spotify api and tried to parse an example response (see [here](https://gist.github.com/HuiiBuh/431782a7d5962d3f15b3ee068add226f)).
+ datamode-codegen 0.4.4
+ python 3.8

**To Reproduce**

Download the gist, install datamodel-codegen and run the following command.

The command I am using to generate the the models is
[code]

**Screenshot

[2020-04-05 12:45] koxudaxi commented on #111
@HuiiBuh

Thank you for creating this issue.

I found about Spotify's json data.
https://labs.spotify.com/2015/03/09/understanding-spotify-web-api/

This Json data is `Json format` which isn't `Json Schema`
This code generator supports `Json Schema` or `OpenAPI`.

About `Json Schema`
https://json-schema.org/

[2020-04-05 16:27] HuiiBuh commented on #111
I totally missed that.
After I converted the json data to a json scheme it is still not working.
This time I get this exception.

![image](https://user-images.githubusercontent.com/46561026/78504084-140fb080-776b-11ea-8021-898570276f68.png)

[2020-04-05 17:12] koxudaxi commented on #111
@HuiiBuh

I have fixed the bug and released new version as `0.4.5`

[2020-04-05 17:41] #93 closed

[2020-04-05 17:41] #105 closed

[2020-04-05 17:54] HuiiBuh commented on #111
Tank you very much :D
I just confirmed that it is working now.

[2020-04-05 17:54] #111 closed

[2020-04-06 18:22] koxudaxi commented on #102
@petermorrow
I have released new version as `0.4.6`
The version can parse `pod.json` and create models.
Could you please try it?

[2020-04-07 05:58] petermorrow commented on #102
@koxudaxi It works! Thank you

[2020-04-07 05:58] #102 closed

[2020-05-05 07:47] mgonzalezperna opened #124 "`black.InvalidInput: Cannot parse` error when pattern is explicit in a string property."
Using the JSONSchema way to declare a pattern for a string property fails on datamodel conversion.

-------

Based on the [JSONSchema docs](https://json-schema.org/understanding-json-schema/reference/regular_expressions.html#regular-expressions), the right way to declare a regex to validate the property is:
[code]
But using this in a property make datamodel-code-generator crash with a InvalidInput

[2020-05-06 17:29] #124 closed

[2020-05-31 10:51] FlorianLudwig opened #131 "json schema: minus in name results in invalid python module name"
**Describe the bug**
having a `-` inside a definition's name results in an invalid python module name.

**Expected behavior**

Replace `-` in names with `_`.

[2020-05-31 12:40] koxudaxi commented on #131
@FlorianLudwig
Thank you for creating an issue.

I will fix a bug.

[2020-06-02 05:45] koxudaxi commented on #131
@FlorianLudwig
I have released a fixed version as `0.5.0`
The version converts a module name including `-`  to the snake case name.
Would you please check the version?

[2020-06-02 16:28] koxudaxi opened #133 "Document features"
add documents include examples on each feature.

[2020-06-05 00:12] erakli opened #134 "Support decimal"
It would be great to support python's `decimal.Decimal` type.

**Describe the solution you'd like**
There's some [examples](https://github.com/OAI/OpenAPI-Specification/issues/1519#issuecomment-377948881), how it could be implemented on the OpenAPI side:

[code]

[2020-06-05 03:48] koxudaxi commented on #134
Thank you for creating this issue.
I understand the feature is WIP in JsonSchema and OpenAPI.
But, I think the feature doesn't break current behavior.
I will implement it.

[2020-06-05 17:07] koxudaxi commented on #134
I just relased a new version as `0.5.2`

[2020-06-05 17:07] #134 closed

[2020-06-05 20:53] FlorianLudwig commented on #131
@koxudaxi thanks! works as expected.

[2020-06-05 20:53] #131 closed

[2020-06-06 17:23] erakli commented on #134
Thank you, it was fast!

[2020-06-10 20:32] FlorianLudwig opened #139 "`oneOf` not working inside `properties`"
**Describe the bug**
I think it is allowed to use `oneOf` inside `properties` but it won't work.

**To Reproduce**
Steps to reproduce the behavior:

small.json
[code]

[code]

[2020-06-10 22:58] patricksanders opened #142 "Invalid code generated for polymorphic array in Swagger spec"
**Describe the bug**
Invalid code generated for polymorphic array in Swagger spec.

**To Reproduce**
Using the following Swagger YAML:
[code]

The generated code:
[code]

The last line is invalid and causes a runtime error.
[code]

**Expected behavior**
The generated code should be a list containing a union of the types.
[code]

This occurs using the latest version of `datamodel-code-generator`, `

[2020-06-10 23:09] FlorianLudwig opened #143 "unnecessary = None generated"
**Describe the bug**

I think the tool might generate some `= None` to many, for example here:

https://github.com/koxudaxi/datamodel-code-generator/blob/master/tests/test_main.py#L107

I do have a WIP fix but maybe I am wrong and it should be there?

[2020-06-11 00:43] FlorianLudwig commented on #142
I believe to properly support this (and all other nested possibilities) some refactoring is needed. Currently only a few cases are handled (see `datamodel-code-generator/datamodel_code_generator/model/base.py` function: `DataModelFieldBase._get_type_hint`).

`DataModelFieldBase.data_types` would need to be converted from a list to a tree, with nodes for `Union`, `List`, etc.

[2020-06-11 04:55] koxudaxi commented on #139
@FlorianLudwig

Thank you for your report.
Yes, the feature is not implemented yet.
I think the generator should create validation method for `oneOf`.
I will implement it. I hope to try this week

[2020-06-11 05:22] koxudaxi commented on #143
@FlorianLudwig
Yes, you are correct. `Optional` field doesn't need `= None`.
The PR  is welcome!!

[2020-06-11 05:34] koxudaxi commented on #142
@patricksanders

Thank you for creating this issue.
I will fix the problem. I hope to do this week.

@FlorianLudwig
Thank you for your good comment.
Yes, We must refactor the method.

I guess We create a new DataType for `List`, `Union`. the new DataType inherits DataType and has DataTypes as children.

[2020-06-11 05:53] koxudaxi commented on #139
I think we should resolve the problem(https://github.com/koxudaxi/datamodel-code-generator/issues/142) for this issue at first.

[2020-06-11 09:28] FlorianLudwig opened #144 "extra_template_data not working"
**Describe the bug**

`custom_template_dir` seems to be ignored:

[code]

**Version:**
 - datamodel-code-generator Version: git master

[2020-06-11 15:12] FlorianLudwig opened #145 "two imports with the same import-name are not distinguised"
**Describe the bug**
I am not yet sure how to reproduce which state, as I have two different observation:

Example 1:

Generated code:
[code]
(from: https://github.com/FlorianLudwig/pdk8s/blob/e9b5903c4f8cf584fe60a4a84709a42f7e63b771/pdk8s/gen/io/k8s/api/networking/v1beta1.py#L12)

Example 2:

Generated code:
[code]
(from: https://github.com/FlorianLudwig/pdk8s/blob/e9b5903c4f8cf584fe60a4a84709a42

[2020-06-11 16:15] koxudaxi commented on #144
@FlorianLudwig
Interesting.
It works fine for a simple unittest.
Did you give me some hints? Would you show me custom_template?

[2020-06-11 16:23] koxudaxi commented on #145
@FlorianLudwig
Thank you for your report
OK, I will research the problem.
I want to fix easy. but, we may need to refactor resolving class logic.

[2020-06-11 16:45] koxudaxi commented on #142
@patricksanders
I have fixed and released a new version as `0.5.4`
Would you please check it?

[2020-06-11 17:02] patricksanders commented on #142
Wow, that was so fast! My test case looks fixed now. I'll report back if I have any issues, but this looks good to me. Thanks for the quick turnaround.

[2020-06-11 17:18] koxudaxi commented on #142
Thank you. I have closed this issue.
Please feel free to report them if you see any problem.

[2020-06-11 17:18] #142 closed

[2020-06-12 01:43] jaydhulia opened #148 "Array of enum not generating code properly"
**Describe the bug**
Hi! It seems that when using an array of enum (string type), the code is not being generated properly. Instead of making a List of enums, it always allows any string because it makes a List[str].

**To Reproduce**

Example schema:
[code]
Code generated:

[code]

Used commandline:
[code]

**Expected behavior**
Expected behaviour would be that inside of Type1, there should be Li

[2020-06-12 02:56] koxudaxi commented on #148
@jaydhulia

Thank you for creating this issue.
I have fixed it and released a new version as `0.5.5`

[2020-06-13 15:44] koxudaxi commented on #139
I  have released a new version as `0.5.6`

[2020-06-15 18:03] koxudaxi commented on #145
I just understood that I have to refactor the logic of referencing and resolving classes.
I hope to do it in this week or next week.

[2020-06-15 18:55] FlorianLudwig commented on #145
Thank you so much for your work!  Looking forward to it.

[2020-06-16 09:36] fzirker opened #153 "Space and special characters in keys"
In our project we process a large number of JSON files from external source. We want to use pydantic for data models and also to check the structure of incoming files. The JSON files has spaces and special characters in the keys.

Example:
[code]
The keys with space and brackets works perfect. They are generated as `Length__m_: float = Field(..., alias='Length (m)')` for example.
**The generator d

[2020-06-16 18:37] koxudaxi commented on #153
@fzirker
Thank you for writing detail about the problem.

I have understood. I will re-use converting logic of field name for generating model name.
I'm sorry, I have some tasks. I want to implement this issue in this week or next week.

[2020-06-19 11:07] ioggstream opened #156 "Support for remote $refs"
**Is your feature request related to a problem? Please describe.**

Remote $ref are not resolved

**Describe the solution you'd like**

Remote $ref to be resolved

**Describe alternatives you've considered**

Remote $refs are downloaded and converted to local refs by an external component

**Additional context**

[code]

[2020-06-19 19:56] FlorianLudwig opened #157 "Missing import for Field"
**Describe the bug**

**To Reproduce**

Example schema:
example file `https://raw.githubusercontent.com/kubernetes/kubernetes/1.16.4/api/openapi-spec/swagger.json`

Generated code in `io/k8s/apimachinery/pkg/version.py`:
[code]

**Expected behavior**

`from pydantic import BaseModel, Field`

**Version:**
 - OS: Linux
 - Python Verison: 3.8
 - datamodel-code-generator master

[2020-06-19 19:57] FlorianLudwig commented on #157
@koxudaxi it might be an interesting integration test to run datamodel-code-generator on a complex definition like the kubernetes one and then run mypy on the resulting code - it brings up several issues :)

[2020-06-19 20:11] FlorianLudwig opened #158 "Default value is double quoted if string"
**Describe the bug**
Default value is double quoted if string

**To Reproduce**

Example schema:
[code]

Used commandline:
[code]

**Expected behavior**

[code]

But got:
[code]

**Version:**
 - OS: Linux
 - Python Verison: 3.8
 - datamodel-code-generator git master, 2cc4d0d17ed5a1ed249c06bdc6d4d2dabbe34f71

**Additional context**
This is a regression, was working a few commits ago.

[2020-06-20 05:38] koxudaxi commented on #156
@ioggstream
OK, I try to implement it :nerd_face:

[2020-06-20 05:47] koxudaxi commented on #157
@FlorianLudwig
Interesting. I want the test to use our product :smile:

OK, I will fix it.

I have some issues.  I start it by fixing easy matters.

[2020-06-20 05:51] koxudaxi commented on #158
Sorry, I had to add tests.

[2020-06-20 07:13] koxudaxi opened #160 "Refactor all tests"
We should change the expected data of tests to external files.

example
https://github.com/koxudaxi/fastapi-code-generator/blob/983c0bcb8978969a591bab242fbb6bcfa3c8e039/tests/test_generate.py

## Related issues
https://github.com/koxudaxi/datamodel-code-generator/pull/159

[2020-06-20 09:00] ioggstream commented on #156
@koxudaxi Great! I stubbed an openapi-resolver here https://github.com/ioggstream/openapi-resolver which cover some use cases but has a non-trivial bug with multi-level $refs https://github.com/ioggstream/openapi-resolver/issues/26

The resolver can recursively download $refs and generate a single, bundled, OAS spec trying to preserve relationship between classes and can be an initial building blo

[2020-06-20 17:25] koxudaxi commented on #157
@FlorianLudwig
I run the code-generator with the swagger.json
the result doesn't have fields.
Why did you get the code which has Field for an alias?
I'm confused.

`io/k8s/apimachinery/pkg/version.py`

[code]

[2020-06-20 17:27] koxudaxi commented on #158
@FlorianLudwig
I have released it as version `0.5.10`

[2020-06-21 14:51] FlorianLudwig commented on #157
Hey @koxudaxi,

I am sorry. This isn't and issue with your code but with mine!  I have a custom parser that adds aliases.

Closing this.

[2020-06-21 14:51] #157 closed

[2020-06-22 01:32] koxudaxi commented on #157
`snake_case` field option is very good idea.
I want the feature.

[2020-06-22 01:41] koxudaxi opened #162 "Snake Case Field Option"
**Is your feature request related to a problem? Please describe.**
OpenAPI or JsonSchema may describe `key` of objects as `camelCase`.
But, attributes of python should be snake_case.
The generator should provide a feature that converts filed names `CamelCase` to `sanke_case`.

**Describe the solution you'd like**
I would the feature give the generator a command-line option

[2020-06-22 07:29] FlorianLudwig commented on #157
I have a function I run over all fields:

`snakify_field`: https://github.com/FlorianLudwig/pdk8s/blob/master/pdk8s/gen_k8s.py#L59 - but it's buggy as noticed in this report :sweat:

[2020-06-24 03:42] javierabosch opened #164 "json_schema_data_formats fail when looking up 'array'"
When trying to convert file data.json to model.py, I get a
keyerror on line 171 of jsonschema.py when the type in types is 'array'.

**To Reproduce**

Example schema:
[code]

[2020-06-24 03:51] javierabosch commented on #164
When I amended the json_schema_data_formats and added:

 'array': {'default': Types.array}

and added Types.array: DataType(type='list'), to typ_map in types.py

this fixed the issue.

I am not sure if this fixes any corner cases, but I do believe json 'array' maps to a list.

[2020-06-24 04:07] koxudaxi commented on #164
@javierabosch
Thank you for creating this issue.

This approach is not bad, However, Python `List` needs sub types like `List[str]`
The generator use a method which can parse array object to resolve subtypes of `List`.
https://github.com/koxudaxi/datamodel-code-generator/blob/01e9e58e92e44c385133b80c01caa475548929cd/datamodel_code_generator/parser/jsonschema.py#L201

I would use the method to pars

[2020-06-24 14:08] javierabosch commented on #164
Hi @koxudaxi ,

The json file is quite large. Is there anyway I can email it to you?

I saw the function you referenced in the code, but I was just monkey patching as I went along, hoping down the pipeline it would use that function.

[2020-06-24 15:10] jaydhulia commented on #148
Thank you for quickly fixing that, going to close this issue!

[2020-06-24 15:10] #148 closed

[2020-06-25 02:30] koxudaxi commented on #164
@javierabosch
Thank you for your email.
I have fixed a problem which is a nested array.
I released a new version as `0.5.11`

But, I found other problems to generate models from your json data.

1. Need calling [update_forward_refs](https://pydantic-docs.helpmanual.io/usage/postponed_annotations/) for `MediaItem`  after all dependency models are defined.
I will fix the problem when I refactor a fu

[2020-06-28 17:41] koxudaxi commented on #145
Sorry, I'm busy this week.
I want to get the time.

[2020-06-28 17:43] #160 closed

[2020-06-28 17:48] #139 closed

[2020-06-29 19:13] koxudaxi commented on #153
@fzirker
I have released a  fixed version as  [0.5.12](https://pypi.org/project/datamodel-code-generator/0.5.12/) :tada:

[2020-06-30 14:10] fzirker commented on #153
Hi @koxudaxi thank your for your work.

Unfortunately I have a problem with the new version. The fields with spaces are now optional.
Example created with the new version 0.5.12 (from sample above):
`Serial_Number: Optional[str] = Field(None, alias='Serial Number')`

With old version 0.5.11 the field were defined like this.
`Serial_Number: str = Field(..., alias='Serial Number')`

[2020-06-30 15:09] koxudaxi commented on #153
@fzirker
Oh, I'm sorry, I mistake it.
 I have fixed and released it as `0.5.13`

[2020-07-01 12:21] fzirker commented on #153
I've tested it now, works perfectly now.
Thank your very much.

[2020-07-01 12:21] #153 closed

[2020-07-07 14:20] fzirker opened #168 "Recursive elements results in wrong model"
I am generating models from JSON Data which comes from an external source.  In my JSON file there is a element which contains a other sub element with the same name.

Example JSON
[code]

Used commandline:
[code]

**Expected behavior**
The Model should look like this.
[code]

But it looks like this and has an indirect recursion in `Recursive`->`Sub`->`Recursive`...  :
[code]
**Version:**
 - OS: Ub

[2020-07-07 14:40] fzirker opened #169 "Error when creating model with keys starting with a number"
Its me again and I have a new crazy JSON here.
Sometimes I have JSON which contains a key starting with a number.

**To Reproduce**
Example JSON:
[code]

Used commandline:
[code]

**Expected behavior**
Model is created. For the keys starting with a number there should be a underscore "_" added at the beginning of the string.

 **Current behavior**
An error is thrown:
[code]

**Version:**
 - OS: Ub

[2020-07-08 06:38] gk-patel opened #170 "Remove models with same set of field."
It would be good if we can identify that a similar model exists and use that model instead of creating a new model, especially when the FIELDS and DATA-TYPE are same.

For example, when my data is as follows,
[code]
we get the following output,
[code]
**Describe the solution you'd like**
I think it would be good if we can detect that models for ArmLeft and ArmRight are the same, and then to just u

[2020-07-09 10:04] koxudaxi opened #171 "add Model Resolver"
This code generator can't generate some model in edge-case.
I'm implementing a model resolver to fix the problem.
The model resolver should cover below.
- manage collected model (include `ref` )
- manage unique model names
- validate valid Python name
- resolve remote or other local files
- manage the scoped model name for import statement

Sorry, I'm busy with the main job this month.
But, I impl

[2020-07-09 15:58] koxudaxi commented on #170
@gk-patel
Thank you for creating this issue.
I think it's a good idea.
The behavior may have to be an option of the command line :thinking:

I will implement this feature after remove bugs.

[2020-07-09 16:00] koxudaxi commented on #169
@fzirker
Thank you for your report.
Sorry, I forgot about this pattern.
I will fix it.

[2020-07-09 16:04] koxudaxi commented on #168
@fzirker
OK, I have understood it.
We have to check the contents of models to compare same name models,
I will fix it.

[2020-07-17 16:31] skrawcz opened #174 "Handle double __ in snake to camel function"
# Problem
https://github.com/koxudaxi/datamodel-code-generator/blob/7eee45b5ba3db77c56bb56cae24f1ab3f7c88076/datamodel_code_generator/parser/base.py#L39-L45

It is an assumption that there is only a single `_` in field names. This can happen if there are two spaces in a name (https://github.com/koxudaxi/datamodel-code-generator/blob/master/datamodel_code_generator/parser/base.py#L142), or the fiel

[2020-07-19 16:13] skrawcz commented on #174
Thanks!

[2020-07-19 16:13] #174 closed

[2020-07-19 18:56] koxudaxi commented on #169
@fzirker
I have fixed it and released a new version as `0.5.16`

pydantic model doesn't accept a filed which has an underscore "_" in first.
the code-generator adds `field_` to the head of the field name.
https://github.com/koxudaxi/datamodel-code-generator/blob/5066fa29a0c95fe46ea97072502f170d6abdef80/tests/data/expected/main/space_and_special_characters/output.py#L24-L26

If you have more good i

[2020-07-19 18:58] koxudaxi commented on #145
@FlorianLudwig
I have fixed it and released a new version as `0.5.16`

[2020-07-19 19:16] koxudaxi commented on #164
@javierabosch

Sorry, I mistake. It's no problem.

I believe this issue was resolved.  Can I close this issue?

[2020-07-19 19:29] koxudaxi commented on #168
@fzirker
In version `0.5.16`, this problem is resolved :tada:

https://github.com/koxudaxi/datamodel-code-generator/pull/177/files

[2020-07-21 19:28] FlorianLudwig commented on #145
Hi @koxudaxi,

I just tested `0.5.16` and it seems like a regression to me.

Previously:
 * name clashes of *module* - problem
 * name clashes of *class names* - not a problem

Now:
 * name clashes of *module* - not a problem
 * name clashes of *class names* - problem

All but one enum are gone (diff of generated code: left old version, right after upgrade):
![image](https://user-images.githubuser

[2020-07-22 08:53] koxudaxi commented on #145
@FlorianLudwig
Thank you for the details of the problem.
Sorry, I have fixed and released a new version as `0.5.17`
Also, I added a unittest for the case.

[2020-07-24 17:55] koxudaxi commented on #156
@ioggstream
I published the feature as `0.5.19`.

[2020-07-24 18:03] koxudaxi commented on #156
@ioggstream
I don't use your library because of cutting dependency.
Also, I decide I don't need it this phase.

[2020-07-24 21:34] ioggstream commented on #156
Thank you very much :) These days I was attending EuroPython online edition and I shared your work with the community. Next week I'll push some more tests. Thanks for your great work!

[2020-07-24 21:34] #156 closed

[2020-07-25 16:50] koxudaxi commented on #156
@ioggstream
Thank you for sharing my work :smile:

Great!! I will review it :+1:

Also, I'll update [fastapi-code-generator](https://github.com/koxudaxi/fastapi-code-generator) for remote files and documents :wink:

[2020-07-27 13:47] ioggstream opened #182 "yaml support is not complete"
**Describe the bug**
Parsing yaml OAS3 files does not work

**To Reproduce**
See #183 .

Example schema:
[code]

Used commandline:
[code]

[2020-07-27 15:46] #182 closed

[2020-07-27 15:48] #171 closed

[2020-07-28 13:46] FlorianLudwig commented on #145
Hey @koxudaxi

thanks!

I tested against current master. Looks good!

(It looks like you didn't publish to pypi though)

[2020-07-28 13:46] #145 closed

[2020-07-28 13:49] FlorianLudwig commented on #162
I implemented this here:

https://github.com/FlorianLudwig/pdk8s/blob/master/pdk8s/gen_k8s.py#L59

By change the name to camel_case and keeping the old name as alias.

[2020-07-28 14:00] koxudaxi commented on #145
@FlorianLudwig
Thank you for your report.

Really? :thinking:
I can look for some new versions in pypi.
https://pypi.org/project/datamodel-code-generator/#history

[2020-07-28 15:02] FlorianLudwig commented on #144
Here a simple way to reproduce this by replacing the `BaseModel.jinja2` without having any effect:

[code]

[2020-07-28 15:03] FlorianLudwig commented on #145
This is strange. I had the following error with `poetry`:
[code]

[2020-07-28 15:08] FlorianLudwig commented on #144
The example I am working with is this one: https://github.com/FlorianLudwig/pdk8s/tree/7e2479ccb1f25c7173368cb0fef2aef7f4501ae9/pdk8s/template

My build process includes copying this folder inside datamodel-code-generator.

[2020-07-28 15:16] koxudaxi commented on #144
@FlorianLudwig
I have understood why the case does not affect results.
[code]
We should specify a nested directory.
But, It may is not correct.
We can't use a custom template for `Enum`.

[2020-07-28 15:31] FlorianLudwig commented on #144
oh. okay. I misunderstood how it works then. So not a bug. Closing.

Thanks!

[2020-07-28 15:31] #144 closed

[2020-07-28 16:36] koxudaxi opened #184 "Add documentation for custom template"
There is no document of the custom template.
We should write a document on how to use the feature.

## Related issues
https://github.com/koxudaxi/datamodel-code-generator/issues/144

[2020-07-28 16:38] koxudaxi commented on #144
@FlorianLudwig
We should explain the feature in documents.
I have created an issue to add a document for a custom template.

[2020-07-30 17:42] koxudaxi commented on #162
Thank you for reviewing the PR.

I have released the version as `0.5.21` :tada:

[2020-07-30 19:34] koxudaxi commented on #143
@FlorianLudwig

I have released the version as `0.5.22` :tada:
This feature is added as `--strip-default-none` option.

[2020-07-30 23:28] joshbode opened #188 "Support for pyproject.toml"
`datamodel-codegen` is gaining a lot of command-line options which is great, but it can make the invocation quite lengthy.

How about adding support for a `pyproject.toml` section, e.g.
[code]

I'm happy to add this if there is desire for this feature :)

[2020-07-31 01:08] koxudaxi commented on #188
@joshbode
I agree.
I recently want the same feature :smile:

I will implement it :rocket:

[2020-07-31 15:50] shalseban commented on #30
Is this issue closed?

[2020-08-01 16:59] koxudaxi commented on #30
@shalseban
Good question.
`byte` is not implemented.

OpenAPI expects that byte is base64-encoded characters.
https://swagger.io/docs/specification/data-models/data-types/#string

But, I don't know how do we treat encoded/decoded values like base64 in Pydantic.
I opened this issue. However, the problem is not resolved yet.
https://github.com/samuelcolvin/pydantic/issues/692

[2020-08-01 17:41] shalseban commented on #30
@koxudaxi Thanks for the response.

Does it make sense to release with the other formats and open another issue for `byte` support?

If not, is there a work around in the meantime?

[2020-08-01 17:49] koxudaxi commented on #30
You are right.
I have close this issue.
And I will create a new issue for only `byte`.

[2020-08-01 17:49] #30 closed

[2020-08-01 18:07] koxudaxi opened #189 "Support byte of string format"
This PR supports `byte` of string format.

OpenAPI expects that byte is base64-encoded characters.
https://swagger.io/docs/specification/data-models/data-types/#string

But, I don't know how do we treat encoded/decoded values like base64 in Pydantic.
I opened this issue. However, the problem is not resolved yet.
samuelcolvin/pydantic#692

## Related issues
https://github.com/koxudaxi/datamodel-cod

[2020-08-01 18:08] koxudaxi commented on #30
@shalseban
I have opened a new issue for `byte`.

Thank you very much :smile:

[2020-08-02 16:30] koxudaxi commented on #188
@joshbode
I have implemented the feature and released a new version as  `0.5.23`.

[2020-08-02 23:34] joshbode commented on #188
Fantastic - thank you!
I'll try it out today :)

[2020-08-05 08:02] drsm79 opened #193 "uri-reference"
**Describe the bug**

When parsing a jsonschema with a `uri-reference` you get a KeyError:

[code]

**To Reproduce**

Example schema:

https://github.com/usnistgov/OSCAL/blob/master/json/schema/oscal_component_schema.json

Used commandline:
[code]

**Expected behavior**
Not throw an exception & create the objects.

**Version:**
 - OS: Windows 10
 - Python Verison: 3.7.8
 - datamodel-code-generator

[2020-08-05 16:19] koxudaxi commented on #193
@drsm79
Thank you for creating this issue.
It's a good suggestion :smile:  :+1:

PR welcome to support `uri-reference`.

[2020-08-05 22:59] drsm79 commented on #193
Is there a path-like type it could be, else a string makes sense.

[2020-08-11 10:05] #188 closed

[2020-08-13 09:16] dennis-wey opened #195 "Change install requirements from pinpoint to lower bounds"
Hi,

first of all thank you for the project this looks really interesting!

**Is your feature request related to a problem? Please describe.**
All the versions in requirements are pinpoint which might cause version conflicts when using this with other packages e.g. fastapi.

**Describe the solution you'd like**
Instead of pinpoint the pydantic version make it lower bound
`pydantic[email]>=1.5.1`

[2020-08-13 16:56] koxudaxi commented on #195
@dennis-wey
Thank you for creating this issue.

I'm afraid of broken dependency in the future.

How did you use this code-generator? as a module? or CLI?

If you use it as CLI then, I recommend that you should not mix other packages in the environment.
I usually create a requirements.txt(or poetry or pipenv) for only this code generator.
Also, I may choice [pipx](https://github.com/pipxproject/pip

[2020-08-13 18:06] drsm79 commented on #193
Closed by #194

[2020-08-13 18:06] #193 closed

[2020-08-14 06:50] dennis-wey commented on #195
My use case is, that for a bigger project I would like to build pydantic classes out of openapi.json provided by a fastapi application. I don't want to automate the creation of the whole client but make the schemas available. So my use case would be using a parser and then accessing its `results` attribute. So basically I wouldn't even need black or isort package but since their vital to the core

[2020-08-14 17:35] koxudaxi commented on #195
@dennis-wey

I'm happy you use this library deeply :smile:

Thank you
I have changed and released a new version as `0.5.26`  :rocket:

[2020-08-20 07:27] dennis-wey commented on #195
Sorry me again. I did tried to include the project in the bigger project but got stuck again since due to strict requirement managament I can only rely on argcomplete ~=1.10. Is it reasonable to lower the minimal version on this one?

Also for me it seems like this package does two things:

1. Providing Parser forbuilding pydantic Classes out of openapi/json schema.
2. Provide a code generator com

[2020-08-20 17:04] koxudaxi commented on #195
@dennis-wey

Did you want to change the lowest version to `1.10`?
I think it is not a perfect answer to resolving the problem.
But, If you hope it then I can do it. because I guess another way needs a lot of time. :cat2:

I agree.

I use this package as a library too. https://github.com/koxudaxi/fastapi-code-generator
We should consider splitting the package to `Parser` and `CLI`. or better names.

[2020-08-21 10:02] chaitan94 opened #200 "Support for protobuf / gRPC"
**Feature request / Problem description.**
Just like how OpenAPI models are currently supported, probably protobuf can be a great addition. Having this, for example, would especially help in building tools similar to FastAPI, but for gRPC based services.

**Solution**
Adding support for a new `InputFileType` for protobuf.

Although at a technical level I am not sure how hard this is, or if there a

[2020-08-25 14:24] dennis-wey commented on #195
@koxudaxi Tried to add it and failed.
I now checked all listed dependencies above and checked against the existing dependencies in my project. Unfortunatly I can only add things and I'm not able to use pipx since I'm not the maintainer.

[code]

[2020-08-25 20:00] koxudaxi commented on #195
@dennis-wey
OK, I have released a new version as 0.5.29.
The changes are a special case.
We should not do it every time.
But, We should decide the rule of the dependency version.

[2020-09-01 22:23] camerondavison commented on #184
I was wanting to add https://github.com/snowplow/snowplow-python-tracker/blob/master/snowplow_tracker/self_describing_json.py to the template somehow, but did not really find any way to make that happen. so it would be nice to have some documentation around extending things

[2020-09-02 01:29] koxudaxi commented on #184
@camerondavison
Thank you for your comment.

Sorry, What did you want?  Did you want to inherit the class?

[2020-09-02 01:43] camerondavison commented on #184
I think maybe I want to wrap it in that class. Since I need to write the schema field and the model is the data.

[2020-09-02 02:38] koxudaxi commented on #184
@camerondavison
I don't know how to use snowplow-python-tracker.
Do you want this output?
[code]

Otherwise, Would you please write an example of the output that you expect here?

[2020-09-02 11:31] camerondavison commented on #184
Yes that is what I want.

[2020-09-02 15:53] koxudaxi commented on #184
@camerondavison
Unfortunately, This code-generator can't output the schema path.
But, This viewpoint looks good. I will implement it after we resolve other issues.

[2020-09-03 01:32] camerondavison commented on #162
Maybe I am off base here but I feel like this is doing the opposite of what I am exepcting.

[code]

where I was expecting to have
[code]

Since javascript and json is usually camel case, and python is usually snake case.

[2020-09-03 01:48] camerondavison commented on #162
It looks like adding
[code]
and the whenever generating the json doing `.dict(by_alias=True)` works more like I was hoping. Is there a way to add `pydantic` config options to the generated classes?

[2020-09-04 11:09] dennis-wey commented on #195
After rethinking this, would it make sense to keep it at one package and include the cli stuff as extra dependency?
The Cons would be, that the main use case would be hidden behind an extra and the name would not fit so well anymore.

On the other topic: In order to to use the parser sas library, I think they need a clearer API. So basically I would assume that I have some in python represenation

[2020-09-04 13:39] dennis-wey opened #205 "Any type in OpenApi"
**Describe the bug**
Loading a valid OpenAPI spec file from fastApi using Pydantic Classes which includes Any result in error.

**To Reproduce**

Minimal Example fastApi application:
from typing import Any

[code]

Reurn this openapi specification (I removed some error responses and turn it to yaml but according to swagger editors this is a valid file):

[code]

Running now
[code]

Will give me th

[2020-09-04 14:28] languitar opened #206 "Pass through example strings"
**Is your feature request related to a problem? Please describe.**

As a validation step for using this tool I have taken an existing API built with fastapi and pydantic models and applied the code generator on the openapi specification provided by openapi. In the generated models the example is missing. As we want to take parts of the generated models also as output models again, it would be nice

[2020-09-04 15:21] koxudaxi commented on #195
Users expect that this package is a code-generator.
If we can install it without any option then, It's good.,
Otherwise, They will be confused.

I agree.
The code-generator accepts to be access API. But, It's designed as an internal API.
If we can design the API, then we can change it.

Sorry, What did you expect? Would you show me an example?

[2020-09-04 15:35] koxudaxi commented on #205
@dennis-wey
Thank you for creating this issue.

I have confirmed the problem.
I will fix it.

[2020-09-04 15:44] koxudaxi commented on #206
@languitar
Thank you for requesting a feature.
It's good.
I will implement it.

[2020-09-04 18:00] koxudaxi commented on #206
@languitar
I implemented it.
I have released a new version as `0.5.30`

[2020-09-04 18:00] koxudaxi commented on #205
@dennis-wey
I fixed it.
I have released a new version as `0.5.30`

[2020-09-05 15:40] languitar commented on #206
Thanks! that was quick!

[2020-09-07 08:58] #205 closed

[2020-09-07 16:26] #206 closed

[2020-09-07 16:40] #143 closed

[2020-09-07 16:40] #158 closed

[2020-09-07 16:41] #164 closed

[2020-09-07 16:41] #168 closed

[2020-09-07 16:42] #169 closed

[2020-09-09 07:12] dennis-wey commented on #195
Sure let's assume the example from https://github.com/koxudaxi/datamodel-code-generator/issues/205 is hosted somewhere.
[code]
In my last post I suggestes to return a list of pydantic classes but a dictionairy might make more sense, so you can address the pydantic representation of the schemas by name.

[2020-09-09 10:19] languitar opened #210 "additionalProperties always result in Any Python type"
**Describe the bug**

When using an `object` with `additionalProperties` and an item type, the resulting code doesn't reference the generated item type.

**To Reproduce**

Example schema:
[code]

Results in the following generated file:
[code]

Used commandline:
[code]

**Expected behavior**
The definition for `broken` should be:
[code]

**Version:**
 - OS: Linux
 - Python Verison: 3.8.5
 - datamo

[2020-09-09 10:22] languitar commented on #210
This already happens without a type reference. Setting `type: string` exhibits the same behavior.

[2020-09-09 17:24] koxudaxi commented on #195
@dennis-wey
I have understood that you want to get a pydnatic model that is created by [`create_model()`](https://pydantic-docs.helpmanual.io/usage/models/#dynamic-model-creation)

I think that it's difficult to resolve the referenced model on the fly.
the models often have nested models.
Of course, It's not impossible.

Also, Can users understand the structure of models?
IDE's and mypy don't know

[2020-09-09 17:36] koxudaxi commented on #210
@languitar
Thank you for your reporting.
I detect the problem. I will fix it.

[2020-09-11 13:57] dennis-wey opened #211 "PositiveInt import Error"
**Describe the bug**
When using PostiveInt in openapi Schema, the class PositiveInt is not imported resulting in an error in the python file.

**To Reproduce**

Example schema:
[code]

Used commandline:
[code]

test.py:
[code]

**Expected behavior**
`PositiveInt` is imported in test.py  before used

**Version:**
 - OS: Debian GNU/Linux 9
 - Python Verison: 3.6.6
 - datamodel-code-generator Version

[2020-09-11 14:11] dennis-wey commented on #195
Thinking about what I just said: A good minimal solution would be to have nearly the same functionality as the CLI (instead of an input file input would be a dictionairy) as a python function. The output could then be something like a string containing the same as what would be in the output file (propably minus black and flake8). Then the user could decide how to construct the classes dynamically

[2020-09-12 18:30] koxudaxi commented on #195
@dennis-wey
Thank you for explaining your thinking.
I understand the use case. I want to use the library in IPython.
OK, I will try it when I can get the time. (I work for other projects too.)

Btw, Did you need split this package to a parser and CLI?
We have not decided on an answer to the suggestion yet.

[2020-09-12 18:32] koxudaxi commented on #210
@languitar
I have released a fixed version as `0.5.31`

[2020-09-12 18:33] koxudaxi commented on #211
@dennis-wey
Thank you for reporting this problem.
I have released a fixed version as `0.5.31`

[2020-09-14 07:10] #211 closed

[2020-09-14 07:12] dennis-wey commented on #195
Nope since with the newst direction my use case would still fall in the category of code generation (only that the code wouldn't be writte to a file).

[2020-09-14 10:26] soider opened #215 "Support generating models from json-schemas defined in multiple files"
**Is your feature request related to a problem? Please describe.**
Now the tool cli API supports only single file as input. I'd suggest to extend it to have directory as as option. This would help with generating models from json-schema (or may be even from other formats as well). For example, let's have the following schemas (see below).

Since the tool doesn't support directory as input I make a

[2020-09-15 04:45] #210 closed

[2020-09-15 05:03] koxudaxi commented on #215
@soider
Thank you for creating this issue.
I guess the problem is a bug. :thinking:
I expect that the code-generator can create a referenced model from another JSONSchema.
In your case, If a user gives `object.json` then, the generator has to create a `Metadata` model from metadata.json.
Originally, the user doesn't need to pass multiple files.

[2020-09-15 06:28] agrav opened #216 "Unexpected ValidationError from pydantic for field with compound type"
**Describe the bug**
When instantiating a data model from generated code an unexpected ValidationError is raised from pydantic.

**To Reproduce**

Example schema:

[code]

Used commandline:
[code]

**Expected behavior**

From the schema the following code is generated:

[code]

When instantiating this class with the following code:

[code]

The following error is raised from pydantic:

[code]

Exp

[2020-09-15 18:38] koxudaxi commented on #216
Thank you for creating this issue.
You expect `Tag` is not model and the type is List[str].
But, I think we should treat `Tag` as a model.
How do you think about it?
I put an example.

[code]

[2020-09-15 18:44] koxudaxi commented on #195
OK, I will consider how to split the packages.

PR and suggestions are welcome!!

[2020-09-15 19:50] agrav commented on #216
Thank you for answering.
That works fine for me !
The `openapi.json` that I use is generated by FastAPI, which in turn uses the `List[str]` in the original pydantic model. So that was my only preference. I guess the `Tags` model is better for the codegen.

[2020-09-16 11:37] languitar opened #217 "Option to disable timestamp"
**Is your feature request related to a problem? Please describe.**

Please add an option to disable the timestamp comment in generated files. This conflicts with the idea of reproducible builds: https://reproducible-builds.org/docs/timestamps/. Given the same specification the same output should be generated.

**Describe the solution you'd like**

An additional command line switch would be ok for

[2020-09-16 17:06] koxudaxi commented on #217
Thank you for your suggestion.
I agree with your thought.
I will add the option.

[2020-09-16 19:35] koxudaxi commented on #216
@agrav
I have fixed the problem. And I have released a new version as `0.5.32`.

[2020-09-17 15:23] #216 closed

[2020-09-17 19:09] koxudaxi commented on #162
@camerondavison
I added an option for allow_population_by_field_name
It's included in version 0.5.33

[2020-09-17 19:09] koxudaxi commented on #217
@languitar
I have released a new version as `0.5.33` :tada:

[2020-09-18 12:34] languitar commented on #217
Thanks, works as expected

[2020-09-19 14:28] #217 closed

[2020-09-19 16:15] koxudaxi commented on #215
@soider
I fixed the bug and I published a new version as `0.5.34`

I put an example of your use-case.

## Files
[code]

### /tmp/multiple_files/object.json
[code]
### /tmp/multiple_files/metadata.json
[code]

## Run a command
`$ datamodel-codegen --input /tmp/multiple_files/object.json --input-file-type jsonschema`

## Output
[code]

[2020-09-19 17:14] soider commented on #215
Hello! Thanks, it fixes the bug, but still doesn't solve the original issue.

For example, imagine you have directory "schemas" with 50 files in it. Some of them are:
- standalone (not used as reference source or target)
- reference targets
- reference sources

The tool doesn't support passing the whole directory as input, so you need to run tool separately for every file.
Most probably it would b

[2020-09-21 16:38] JosXa commented on #164
Hi, I'm on `0.5.34` and the issue still appears. I was able to track it down to the following case:

[code]

It doesn't matter whether the null or the [] is defined first.

The schema generated from this is:

[code]

[2020-09-21 16:48] JosXa commented on #164
@koxudaxi would you like me to create a fresh issue for this?

[2020-09-21 18:43] JosXa commented on #164
My super hacky workaround:

[code]

[2020-09-21 18:58] JosXa opened #222 "GitHub About section doesn't reflect full capabilities"
![image](https://user-images.githubusercontent.com/7313176/93808665-9540fe00-fc4c-11ea-9446-24ee82179352.png)

Looks like the GH "About" section could use some more spice (and typo fixes) for how awesome this library is. How about
[code]
? 🚀
Not sure if one can link to each of these entities aswell... Here are the links:
- https://pydantic-docs.helpmanual.io/
- https://json-schema.org/

[2020-09-21 19:21] koxudaxi commented on #222
@JosXa
Thank you for creating this issue.

I have changed it. :writing_hand:
Also, I can not insert a hyperlink in `About`  :cry:

![Screenshot_2020-09-22_04-17-32](https://user-images.githubusercontent.com/630670/93811374-03a4b100-fc8b-11ea-8bda-5d1b5ac980df.png)

[2020-09-21 19:27] koxudaxi commented on #215
@soider
Thank you for explaining the detail.
I have understood your thought.

OK, I try it. But, an internal parser may not able to interpret multiple input files. :thinking:

[2020-09-21 19:30] koxudaxi commented on #164
@JosXa
Thank you for reporting the problem.

Yes, please.

I will check the problem tomorrow.

[2020-09-21 19:31] JosXa commented on #164
Alright, will do 👍

[2020-09-21 19:32] JosXa commented on #222
@koxudaxi Sweet :)

[2020-09-21 19:32] #222 closed

[2020-09-21 19:37] JosXa commented on #215
There should be some `Context` data class that is passed around in the library to keep track of types that have already been generated and reference those if necessary, I guess

[2020-09-21 19:42] JosXa commented on #195
If I understand this right, you're looking for an imaginary package called `openapi-to-jschonschema`, right? Is that what you refer to as the "parser"?

[2020-09-21 19:49] koxudaxi commented on #215
I have implemented that the parser can reference the created model.
But, I have not checked complex pattern. :(
I will do it this week.

[2020-09-21 21:19] JosXa opened #223 "KeyError: 'array' when null values are interspersed with [] for the same dictionary key"
**Describe the bug**

When trying to parse a JSON list of objects where items have both `null` and a list of values (or an empty list) for the same key, the library raises a `KeyError` (see example which should make it easier).

Something like this was supposedly fixed in response to #164, so it's either a regression or a new bug.

**To Reproduce**

Example JSON:

[code]

It doesn't matter whether

[2020-09-22 08:04] dennis-wey commented on #195
More like openapi_schema_to_pydantic_classes. But as mentioned before this is actually not so far away from the current supported feature and I guess the only addition which makes sense is to add a python interface in addition to the cli interface so you can use the code better as library. I try to make a pr when I find the time to do so.

[2020-09-22 17:51] koxudaxi commented on #223
@JosXa
Thank you for creating this issue and the workaround.
I think the JSONSchema should be converted to below.

[code]

How do you think about it?
if you hope it then I will impliment it. :rocket:

[2020-09-22 19:05] JosXa commented on #223
Yeah, I suppose that's correct 👍😎

[2020-09-22 22:56] JosXa commented on #223
On a related note (but this is just a hunch), could it be that if there are multiple models in a list and fields are set on some but None on others, the generator will use **non**-optional when it's not clear which field to use? I have to reproduce... Just leaving this here so I don't forget.

[2020-09-23 14:52] languitar opened #224 "Provide default value also for required fields"
**Is your feature request related to a problem? Please describe.**

Assume the following specifications:
[code]

Right now, the generated Field `broken` will be:
[code]

This is in line with the OpenAPI specification but especially for the purpose of generating data this is pretty annoying, because you always have to provide default values that are already known from the specification.

**Describe

[2020-09-23 16:32] languitar opened #225 "Nested additionalProperties result in empty value type being generated"
**Describe the bug**

Nested `additionalProperties` with specified `type` result in empty value type being generated.

**To Reproduce**

Example schema:
[code]

Used commandline:
[code]

Resulting generated code:
[code]

The following error occurs when trying to use these generated classes:
[code]

[code]

**Expected behavior**

There is no type `Failing` or it is correctly set to be of value type

[2020-09-23 16:35] languitar commented on #225
Interestingly, this doesn't happen if `additionalProperties` is used on the top-level. This result then in:
[code]

[2020-09-23 16:58] koxudaxi commented on #223
@JosXa

Sorry, Could you show me an example?

[2020-09-23 18:49] koxudaxi commented on #224
@languitar
Thank you for creating this issue.
Did you want an option like `--use-default` ?
This option sets default value on required field.

[2020-09-23 19:38] languitar commented on #224
If there's no chance to always set the defaults, that would be ok for me.

[2020-09-23 20:31] koxudaxi commented on #224
@languitar
I have released a new version as `0.5.35`
you can give `--use-default` to the command-line option.

[2020-09-23 20:32] koxudaxi commented on #225
@languitar
I have released a new version as `0.5.35`

[2020-09-24 09:49] languitar commented on #225
Thanks again for the very fast fixes!

[2020-09-24 17:17] #225 closed

[2020-09-30 13:56] Echronix opened #229 "Arrays in additionalProperties are ignored"
**Describe the bug**
When using an object with additionalProperties and an array of an item type, the resulting code doesn't reference the generated item type.

**To Reproduce**

Example schema:
[code]
Results in the following generated file:
[code]

Used commandline:
[code]

**Expected behavior**

[code]

**Version:**
- OS: Linux
- Python Verison: 3.8.5
- datamodel-code-generator Version: 0.5.30

[2020-10-01 14:37] koxudaxi commented on #229
@Echronix
Thank you for creating this issue.
OK, I will implement it.

[2020-10-03 02:53] koxudaxi commented on #223
I have released a new version as `0.5.37`

[2020-10-05 09:56] languitar commented on #224
I think this can be closed now. Thanks for implementing this.

[2020-10-05 10:00] languitar opened #231 "OpenAPI maximum + exclusiveMaximum result in le and lt being used at the same time"
**Describe the bug**

When defining an integer with a `maximum` and `exclusiveMaximum` in an OpenAPI specification, the resulting python field uses `lt` and `le` at the same time, which results in a runtime error:

[code]

**To Reproduce**

Example schema:
[code]

Used commandline:
[code]

This results in:

[code]

**Expected behavior**

The resulting code should be `lt=600`, without an additional

[2020-10-05 14:22] #224 closed

[2020-10-05 16:34] koxudaxi commented on #231
@languitar
I could reproduce the bug.
I have fixed it and released a new version as `0.5.38`

[2020-10-05 16:35] #162 closed

[2020-10-06 07:55] languitar commented on #231
Thanks again for the quick support!

[2020-10-06 07:59] languitar commented on #229
I just hit this as well again

[2020-10-06 09:56] #231 closed

[2020-10-06 18:59] koxudaxi commented on #229
I have released a new version as  `0.5.39` :rocket:

[2020-10-10 09:18] koxudaxi opened #237 "[breaking change] Change internal interface [version 0.6.x]"
I'm working on changing the internal interface.
https://github.com/koxudaxi/datamodel-code-generator/pull/236

## Motivation
This code generator is created for using CLI.
However, some users use it as a python module like [fastapi-code-generator](https://github.com/koxudaxi/fastapi-code-generator)
I decide to change the internal interface to a clear and usable form.

## Goal
PR is not a goal. It's

[2020-10-10 09:22] koxudaxi commented on #195
@dennis-wey
I'm working on changing the internal interface. https://github.com/koxudaxi/datamodel-code-generator/pull/236

It's not perfect. but, We will get good interfaces in the future.

[2020-10-11 18:09] #229 closed

[2020-10-12 14:17] scottcarr opened #238 "Pet.id not constrained"
I am looking at the test yaml here: https://github.com/koxudaxi/datamodel-code-generator/blob/master/tests/data/openapi/api_constrained.yaml#L112

And the expected test case here: https://github.com/koxudaxi/datamodel-code-generator/blob/master/tests/data/expected/main/main_without_field_constraints/output.py#L13

Why is `Pet.id` just an `int`?   Should it be `constr_int(ge=0)`?

[2020-10-12 14:41] scottcarr opened #239 "--field-constraints can give an unconstrained model when it should be constrained"
**Describe the bug**
I would like to use `--field-constraints` in order to work around mypy not liking the `conint(...)` syntax.

I have a very small example, and I get a functionally different model with/without `--field-constraints`.  Without `--field-constraints` seems to be correct.

**To Reproduce**

Example schema:
[code]

This gives me the model:

[code]

Which is unconstrained and I believ

[2020-10-13 09:09] koxudaxi commented on #239
@scottcarr
Thank you for reporting the problem.
I have fixed it.
https://github.com/koxudaxi/datamodel-code-generator/pull/240/files#diff-2011adb7e15d6dd27b6349f47347d88c3f95bd45b4aca9b125a982e5856ad6daR22-R23

I will release the version when I finished refactoring it.

[2020-10-13 17:36] scottcarr commented on #239
Thanks!

[2020-10-13 17:36] #239 closed

[2020-10-13 17:39] #238 closed

[2020-10-14 21:56] aexvir commented on #215
Hi there,
I'm having a similar issue and I think it's mostly related to what's being reported here, so I'll just chime in. Please let me know if it's different enough so it should go on a different issue.

I'm trying to use this tool to generate definitions from files like the example at the end of this comment. As you can see... it's a pretty nested structure, relying strongly on relative imports

[2020-10-17 14:46] koxudaxi commented on #215
@aexvir
Sorry for replying so late.
Thank you for creating the issue.

I got a report that `prance` has bugs. And I dedicated we use  `prance` as a validator. https://github.com/koxudaxi/datamodel-code-generator/issues/105

We should resolve the problem.

The current version doesn't support the files.
the code-generator doesn't parse under `paths` and unrelated other files.

But, [The PR](https://

[2020-10-18 17:19] koxudaxi commented on #215
@aexvir
I thought about your scenarios.
the parser must check under `paths` for detecting external models.
If you want it then I will implement it.

[2020-10-18 17:51] #237 closed

[2020-10-18 17:51] #223 closed

[2020-10-18 17:53] koxudaxi commented on #239
@scottcarr
I have released a new version as 0.6.0.

[2020-10-18 18:03] koxudaxi commented on #215
@soider
I have released a new version as 0.6.0
The version can parse multiple JsonSchema files.
You can give a directory to `--input` argument.
Input directory:
https://github.com/koxudaxi/datamodel-code-generator/tree/master/tests/data/jsonschema/multiple_files

Output directory:
https://github.com/koxudaxi/datamodel-code-generator/tree/master/tests/data/expected/main/multiple_files

[2020-10-22 21:52] JosXa commented on #215
Does this only work for JsonSchema as of now? I have a use case right now where it would be super handy to have for normal JSON

[2020-10-22 23:09] JosXa opened #242 "Unexpected behavior for use_default"
On 0.6.0, I'm trying to use the new `use_default_value_for_required_field` argument.

**Expectation:**

All fields will have a default value, no matter if they're required or not.

**Actual:**

![image](https://user-images.githubusercontent.com/7313176/96939080-4c3ecc80-14cc-11eb-8ba4-dbbf4f1d1809.png)
Not all fields have a default.

I'm wondering if this was meant to be an `or`:
https://github.co

[2020-10-24 16:10] koxudaxi commented on #215
@JosXa

Yes, The feature is only for JsonSchema.
Could you please tell me the use case?

[2020-10-24 18:36] nuno-andre opened #243 "Error building class name"
Parsing [this schema](https://csrc.nist.gov/schema/cpe/feed/1.0/nvd_cpe_feed_json_1.0.schema):

[code]

raises `black.InvalidInput: Cannot parse: 10:6: class 1 Beta(BaseModel):`

The problem was settled by changing the schema's title to `Cpe`.

**Version:**
 - OS: Windows
 - Python version: `3.7.7`
 - datamodel-code-generator version: `0.6.0`

[2020-10-27 00:22] koxudaxi commented on #242
@JosXa
I'm sorry too late.
I guess you are right. :+1:
I will fix it.
Thank you.

[2020-10-27 00:28] koxudaxi commented on #243
Thank you for creating this issue.
This code-generator uses the title of JSONSchema as the root model name.
But, It doesn't care about a special characters like space.
I will fix it.

[2020-10-27 13:39] nuno-andre commented on #243
Thanks to you for this package. I can't think of a better output for an openapi/jsonschema codegen for Python than Pydantic.

As an idea, would be `id` (if there is one) a better candidate than `tittle`? Its restrictions are much more like the Python identifiers rules and tends to be more synthetic. In this case, for example, removing version numbers (`1.0_beta') and superflous words (`json`) from

[2020-10-27 15:07] FabriceSalvaire opened #244 "Stripe OpenAPI issue"
I cannot generate the code for https://raw.githubusercontent.com/stripe/openapi/master/openapi/spec3.json

[code]
and

[code]

[2020-10-27 16:22] scottcarr opened #245 "openapi.yaml specs with default enum values generate models with mypy errors"
**Is your feature request related to a problem? Please describe.**

We use mypy and pydantic, so it would be nice if the generated models always passed mypy.  When a property is an enum with a default value, the generated model has a type error (according to mypy).  For example:

[code]

To create the models, I run:

[code]

And these are is my models:

[code]

Then I run mypy on the files in my p

[2020-10-27 19:52] FabriceSalvaire commented on #244
Fix env/lib/python3.8/site-packages/datamodel_code_generator/parser/

[code]

Improve error logging in parser/base.py `def sort_data_models(`
[code]
to get
[code]

[2020-10-27 20:08] FabriceSalvaire commented on #244
checked https://swagger.io/tools/swagger-codegen/ generates code

[2020-10-30 06:04] koxudaxi commented on #243
@nuno-andre
Your idea is good. `id` is more usable for the model name.

I thought removing disallow characters from the name.
But, the model name must be a unique name. Also, Users need to able to find the model by name.
we should impliment the naming rule. :thinking:
https://github.com/koxudaxi/datamodel-code-generator/blob/b4a815702bcbd94977d86a6099d19280c3a113a0/datamodel_code_generator/referen

[2020-10-30 07:42] koxudaxi commented on #245
Thank you for creating this issue.
Interesting.
I think I can implement the change.
I assign this issue to me.

[2020-10-30 11:05] koxudaxi commented on #244
@FabriceSalvaire
Thank you for creating this issue.

OK, I will support `"format": "unix-time",`

Also, I checked the problem when generating the Models from the huge schema file.
But, I don't understand why we get an error.
I will research the reason.

[2020-10-30 14:05] DjaPy opened #246 "Generation of models from the Python dictionary"
Thank you for the nice package. It is possible to generate models from dict python objects

At the input, I have a python file in which a variable is declared and a dictionary is passed to it. At the output, you need to get a file with the model name as a variable.

The path from the dictionary to the json schema and then to the model is complex. Has an extra step.

Example.

input:
[code]
output:

[2020-11-01 15:58] koxudaxi commented on #242
@JosXa
I re-checked the problem.
But, I think the current implementation does not expect your case.
This option is for a field that has a default value.

I think you are expecting all fields.
If you want to change all fields to optional fields, then we need another option.

[2020-11-01 16:04] JosXa commented on #242
Then the naming is kind of misleading, hmmm.. what is it supposed to do exactly?

[2020-11-01 16:07] koxudaxi commented on #246
Thank you for creating this issue.
I think your idea is useful.

Did you want to use the feature as a CLI or a module?
Currently, this module supports parsing Jsom object to Pydantic models.
The feature can be used for your use-case. of course, we should rethink the interface of the module.

[2020-11-01 16:20] koxudaxi commented on #242
@JosXa
I expect the behavior.
How did you think about it?
| use_default_value_for_required_field | default value | required |  result |
| -------------  | ------------- | ------------- | ------------- |
| false | 100 | true  | name :int |
| false | 100 | false | name: Optional[int] = 100 |
| true | 100 | true | name: int = 100 |
| true | - | true | name: int |

[2020-11-01 22:57] JosXa commented on #242
Aah, okay I see now. Two remarks:

1. Let me just make some suggestions from the top of my head for a maybe clearer name:
- `ignore_defaults_for_required_fields` (inverted)
- `apply_required_field_defaults` (or `apply_default_values_for_required_fields` but that's long)

2. Okay so what I was looking for is basically a `use_optional_for_required_fields` or `force_optional_for_required_fields`. The

[2020-11-02 02:45] nuno-andre commented on #243
The main sticking point is that `id`, `title`, or `description` are not necessary for a JSON schema to be valid; so it's possible to reach a dead end. I think a good approach could be:

1. Enabling an optional user input to hard coding the name, e.g. `--classname`.
2. Raise an explicit error if `get_valid_name` fails that asks the user to add this parameter.
3. Progressively refining an idempotent

[2020-11-04 16:38] koxudaxi commented on #243
@nuno-andre
Thank you for your good approach and the example.
OK, I will implement it.

[2020-11-04 16:48] koxudaxi commented on #242
I prefer `ignore_defaults_for_required_fields` :)
I will change the name of the attribute.

I have understood what you want when I read about 2.
Also about this, I implement.

Thank you for your great suggestion.

[2020-11-05 08:37] koxudaxi commented on #242
@JosXa
I have released a new version as `0.6.2`
This release includes two changes.
1. change attribute name. `use_default_on_required_field` to `apply_default_values_for_required_fields`
2. add `--force-optional` to `enable force_optional_for_required_fields`

[2020-11-05 20:31] DjaPy commented on #246
I would be interested in two types of implementation.
Can I help? Maybe you can show me what to start from and I will do PR?

[2020-11-06 01:36] koxudaxi commented on #246
Of course, PR welcome.
 I show you an approach to add the feature in the module.

This enum is used as the CLI option to detect file type in `generate()`.
We should add a new type.
https://github.com/koxudaxi/datamodel-code-generator/blob/bddf61aaaf98602530dde68028f6f5f4b77ee749/datamodel_code_generator/__init__.py#L99-L104

This code converts Json, Yaml data to JSONSchema with [genson](https://gi

[2020-11-09 10:03] Chilipp opened #252 "make a conda-forge package"
Hey @koxudaxi!

Would you be interested to make this package available via the [conda-forge](https://conda-forge.org) anaconda channel?
In case there is interest, I'd be happy to draft a PR for the [staged-recipes](https://github.com/conda-forge/staged-recipes) repository.

I strongly recommend anaconda. Particularly for Python it has a lot of very convenient functionalities and makes the installa

[2020-11-09 12:59] agrav opened #253 "TypeError when Enum is subclassed in generated code"
**Describe the bug**
The generated code tries to subclass an Enum, which makes python raise TypeError. Seems to be related to the "AllOf" keyword. When the enclosing "AllOf" is removed, the generated code is without Enum-subclassing and it works as expected.

**To Reproduce**

Example schema:
[code]

Used commandline:
[code]

**Version:**
 - OS: Win 10
 - Python version: 3.8.5
 - datamodel-code-ge

[2020-11-09 18:51] koxudaxi commented on #252
@Chilipp
Thank you for your suggestion.
I want to push this package to conda-forge.
What should I do it?

[2020-11-09 18:52] koxudaxi commented on #253
@agrav
Thank you for creating this issue.
OK, I will fix it.

[2020-11-10 13:02] edwardpmorris opened #256 "NotImplementedError: It is not support to use $id with $ref"
**Is your feature request related to a problem? Please describe.**

An Error occurs "NotImplementedError: It is not support to use $id with $ref" when attempting to convert local JSON schema file with multiple `$ref`. Did not find any mention of this limitation, or a description of whether remote files are supported in the docs.

For example when converting https://vizztools.github.io/vizzToolsCor

[2020-11-11 01:58] koxudaxi commented on #253
@agrav
I have released a new  version as `0.6.4`
This version ignores `allOf` when it has only an enum object.

[2020-11-11 02:14] koxudaxi commented on #243
@nuno-andre
I have released a new  version as `0.6.4`

This release has two changes.
1. add `--class-name` option sets the name of the root model.
2. raise an error when the model name(title) is invalid and `--class-name` is not set.

I considered your approach that is below.
1. use `id` and `description` as a model name.
2. improve `get_valid_name`

I feel good about the approach. But, this is a

[2020-11-11 06:53] agrav commented on #253
@koxudaxi
Thank you, much appreciated.

[2020-11-12 10:00] koxudaxi commented on #256
@edwardpmorris
Thank you for creating this issue.
I'm working on implementing $id.
I have released a new version as `0.6.5`
This version supports $id and a root $id
But, your JSONSchema can not be parsed. because your schema uses the special character(`@` ) and complex referenced structure.
I want to improve the parser.

[2020-11-12 10:02] koxudaxi commented on #252
@Chilipp
Did you have any updates?
I need your help.

Thank you

[2020-11-12 10:06] edwardpmorris commented on #256
thanks @kouxudai . oops my bad with "@id", will give the new version a try with the error in my schema corrected.

[2020-11-12 10:21] edwardpmorris commented on #256
After fixing the property `$id` error. Using local file `$refs`. A quick test with `datamodel-codegen --version 0.6.5` gives `NotADirectoryError: [Errno 20] Not a directory: '/home/edward/Documents/vizzToolsCore/json-schema/Organization.schema.json/@id.schema.json'`

Looks like the basename `Organization.schema.json` of `$id` needs to removed during the parsing?

[2020-11-12 10:29] koxudaxi commented on #256
Interesting.
Would you please give me the files?
I expected only remote file with $id

[2020-11-12 10:45] edwardpmorris commented on #256
Thinking that using local file refs might help with the code generation; I changed to only update `$id` when deployed to gh-pages.

Here are the originals:
[Organization_schema_example.zip](https://github.com/koxudaxi/datamodel-code-generator/files/5529942/Organization_schema_example.zip)
The online version is https://vizztools.github.io/vizzToolsCore/json-schema/Organization.schema.json

Admitted

[2020-11-12 14:23] Chilipp commented on #252
hey @koxudaxi, my apologies for being so silent. You just have to prepare a PR for the staged-recipes repository with your recipe (see [the docs](https://github.com/conda-forge/staged-recipes#getting-started)). You can do it yourself if you like, or I prepare a recipe, make the PR and list you there as a maintainer.

[2020-11-12 16:05] koxudaxi commented on #256
@edwardpmorris
Thank you for sharing your schemas.
I have fixed the code to parse for your schemas.
Would you please check the generated code and modified schemas?
https://github.com/koxudaxi/datamodel-code-generator/pull/261/files.

I removed `@` and `$` from the model names and attributes.
This code generator doesn't parse $id and $ref perfectly.
But, The code generator covers use-cases.

[2020-11-12 17:04] koxudaxi commented on #252
@Chilipp
Thank you for your explanation.
I will read the document and make a PR when I get the time.
Also, your PR welcome. But, I know you are busy too :wink:

[2020-11-16 22:29] brunetton opened #264 "Exception: A Parser can not resolve classes when using `$ref`"
**Describe the bug**
I'm trying to convert a schema that use an external reference; but this makes the conversion script crashes.
I'm not sure whether this is an implemented feature, but I thought it was reading README.md

**To Reproduce**

As an example, let's say that I want to generate a Person model that uses an external reference to `definitions.json`:

- `person.json`:
[code]
- `definitions.

[2020-11-17 16:41] koxudaxi commented on #264
@brunetton
I'm sorry, the code didn't cover your case.
I have fixed it and released a new version as `0.6.7`

[2020-11-17 17:33] brunetton commented on #264
Thanks very much ! It's perfect :+1:

[2020-11-20 06:38] elonzh opened #266 "error when generating citation-style-language/schema"
**Describe the bug**
error when generating citation-style-language/schema

**To Reproduce**

Example schema:

https://raw.githubusercontent.com/citation-style-language/schema/v1.0.1/csl-data.json

Used commandline:
[code]

**Expected behavior**

no exceptions reported.

**Version:**
 - OS: macOS 10.15.7 (19H15)
 - Python version: 3.8.3
 - datamodel-code-generator version: 0.6.7

**Additional conte

[2020-11-20 14:41] themmes opened #267 ""A Parser can not resolve classes" for modular json schema structure"
**Describe the bug**

The parser cannot resolve all classes for a modular json schema structure

`Exception: A Parser can not resolve classes: [class: Person references: {'pet.JsonPet'}].`

**To Reproduce**

Example schema:
[code]

[code]

[code]

Used commandline:
[code]

**Expected behavior**
I expected similar output as described in https://pydantic-docs.helpmanual.io/datamodel_code_generator

[2020-11-20 15:37] themmes opened #268 "An array of enum is not working as expected"
**Describe the bug**

It produces a Enumeration with key with `None_` prepended and without quotes around the value

[code]

**To Reproduce**

Example schema:
[code]

Used commandline:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen

**Version:**
 - OS: macOS Catalina 10.15.4 (19E287)
- Python version: Python 3.8
- datamodel-code-generator version: data

[2020-11-20 15:44] themmes commented on #268
Absolutely my bad, the "enum" is missing a type definition!

[2020-11-21 09:23] themmes commented on #268
Maybe I shouldn't close this, as it might be considered an issue that the library does not handle is very gracefully

[2020-11-21 09:29] themmes commented on #215
I have a similar issue with the following structure. Note that my ref structure might not be optimal for this library, I have the flexibility to switch e.g. absolute/relative paths etc.

Example schema:
[code]

[code]

[code]

[2020-11-21 09:29] themmes commented on #267
Duplicate of https://github.com/koxudaxi/datamodel-code-generator/issues/215

[2020-11-21 09:29] #267 closed

[2020-11-21 09:47] themmes commented on #215
The problem was a mistake in my example, the reference should be `"$ref": "definitions/pet.json#/Pet"` and then it works perfectly!

[2020-11-21 09:47] themmes commented on #267
The problem was a mistake in my example, the reference should be `"$ref": "definitions/pet.json#/Pet"` and then it works perfectly!

[2020-11-21 15:00] koxudaxi commented on #267
I'm sorry for the late reply.
Yes, `#` needs `/`

[2020-11-21 15:04] koxudaxi commented on #268
Thank you for your good suggestion.
I agree We should implement an error message.
Or, This code-generator has a feature of validation schemas.
The error message may recommend using the option.

[2020-11-21 15:06] themmes commented on #267
Are you kidding? I listed this yesterday, please don't feel rushed by my comments. You're doing an amazing job on this library! 👍

[2020-11-21 15:18] koxudaxi commented on #267
Thank you for your comment.
I want to reply as soon as possible :)

[2020-11-21 15:20] koxudaxi commented on #266
Thank you for creating this issue.
I have reproduced the problem. I will fix it.

[2020-11-21 16:29] koxudaxi commented on #266
@elonzh
I have checked the schema.
I think this schema is invalid.
1. required has boolean. I expect a string or a list of string https://json-schema.org/understanding-json-schema/reference/object.html#required-properties
2. `type: [{...}]` is not valid. I guess `items: [{...}]` is correct.
[code]

[code]
Also, this schema version may be draft 3 . but, I didn't check about the version.

[2020-11-21 16:31] #253 closed

[2020-11-21 16:31] #242 closed

[2020-11-21 16:34] #264 closed

[2020-11-21 23:38] nuno-andre commented on #243
Great. Thank you!

Moving forward to avoid dead spots can be a great improvement to generate models also dynamically. I'll stay tuned.

[2020-11-21 23:38] #243 closed

[2020-11-22 16:02] themmes commented on #268
@koxudaxi I see you want to receive feedback. What exactly would you like to know? My 2 cents:

1. Yes, error messages should always be actionable
2. I think by default referring to the validator is low hanging fruit!

[2020-11-22 16:07] elonzh commented on #266
Thanks ! I will report this issue to the CSL project.

[2020-11-23 08:43] themmes commented on #215
@koxudaxi one more question, how should the `$ref` look like when there are definitions that rely on other definitions (both in the definitions folder)? I tried both `definitions/fur.json#/Fur` and `fur.json#/Fur`, in both cases the Python code refers to a `Fur` definition, but there exists no `fur.py`

[code]

person.json is same as above..

[code]

[code]

[2020-11-25 09:53] koxudaxi commented on #215
@themmes
I expected the `Fur ` will be created in `fur.py`. if you give directory to CLI then it creates  fur.py.
But, it doesn't work fine 😢
I will fix it.

[2020-11-25 09:54] koxudaxi commented on #266
I agree. I add the minimum supported version in the document.

[2020-11-25 10:05] koxudaxi commented on #268
Thank you for your feedback.
I don't prefer to broke current behavior.
The error messages should suggest using the validation option.
I don't want to think about implementing all error patterns 😣

[2020-12-01 08:41] themmes commented on #215
Hi @koxudaxi, thank you that would be great! Do you know what is causing the issue? Let me know if I can help

[2020-12-02 05:36] Gowee opened #271 "Union of array and null is not infered as optional array"
**Describe the bug**
When inferring a model from a sample JSON, the union of an array (`[..., ... ...]`) and `null` is inferred to be `Union[Any, List[...]]` instead of `Optional[List[...]]`

**To Reproduce**

Example JSON:
[code]

Used commandline:
[code]

**Expected behavior**
Expected model:
[code]

Actually generated model:
[code]
**Version:**
 - OS: N/A
 - Python version: 3.8.6
 - datamodel-c

[2020-12-02 09:12] koxudaxi commented on #215
@themmes
I'm sorry. I was busy with a week.

I'm checking your schema and the error.
This description may be invalid.
[code]
It may be
[code]
This object has a title. But, the title is not a key.

Did you know the answer?

[2020-12-02 09:14] koxudaxi commented on #271
@Gowee
Thank you for creating this issue.
OK, I will implement it.

[2020-12-02 09:20] koxudaxi commented on #256
I released a new version( `0.6.8`) includes the PR.

[2020-12-02 13:20] themmes commented on #215
I'm surprised by your suggestion, because in the previous case (without the `fur.json` detail) adding `Pet` to the reference was the solution.

I've tried removing the `Pet` from the reference (and the same for `Fur`). But that results in the following error:

[code]

[2020-12-02 14:09] koxudaxi commented on #215
I talked about correct JsonSchema.
This code generator has a bug that it can't generate a model without `Pet `.
Because I didn't know the spec of JsonSchema. I'm Sorry.

[2020-12-02 16:39] koxudaxi commented on #215
@themmes
I fixed the problem.
I have released a new version as `0.6.9`
I added the unittest for your case.

https://github.com/koxudaxi/datamodel-code-generator/pull/272/files#diff-d9f70133872d7ebd127ebb3e8841261a498af1054748c868ea1555bec762097b

https://github.com/koxudaxi/datamodel-code-generator/pull/272/files#diff-d9f70133872d7ebd127ebb3e8841261a498af1054748c868ea1555bec762097b

[2020-12-02 17:16] themmes commented on #215
Wow you are really fast! Thank you! I can confirm your PR is working for

[code]

However if we try to run it for the folder there are some incorrect file references

[code]

[code]

[2020-12-02 17:20] koxudaxi commented on #215
@themmes
Good catch!!
I understand it.
OK, I will fix it tomorrow.

[2020-12-03 14:11] Liam-Deacon opened #274 "Use schema description to populate class docstring"
I'd like to be able to retain my openapi schema descriptions in the generated python code, e.g.

[code]

Which I would like to be preserved in the conversion process to python, e.g.

[code]

Is this easy to implement? I'd be happy to raise a PR, I'm not sure where to start looking in the codebase though!

[2020-12-03 18:46] koxudaxi commented on #274
@Liam-Deacon
Thank you for posting this issue.
It's a good feature.

I explain where do we must change.

We should change the jinja2 template to write a description of the classes.
https://github.com/koxudaxi/datamodel-code-generator/blob/43bdc6239126769d27f1ecd54a624003f970d31c/datamodel_code_generator/model/template/pydantic/BaseModel.jinja2#L4-L5

Also, `DataModel` needs the `description` to gi

[2020-12-07 10:02] koxudaxi commented on #215
@themmes
I have released a new version as`0.6.10`.
It supports this use-case.
`$ datamodel-codegen --input external_files_in_directory --input-file-type jsonschema --output external_files_output`

I tested nested modules.

https://github.com/koxudaxi/datamodel-code-generator/blob/70f3ed0adb3310235b8e87989034e30a00647976/tests/data/expected/main/main_nested_directory/person.py#L11-L21

[2020-12-11 13:22] themmes commented on #215
Nice! I tested it with some of my json-schemas, for one case it gives incorrect Python.

I created the following example, if a definition defines an array with objects with some properties the codegenerator creates two objects `Friends` and `Friend`, however it seems to put `Friends` in the toplevel `__init__.py` instead of `definitions/friends.py` and therewith breaking imports.

[external_files_

[2020-12-12 18:48] koxudaxi commented on #215
@themmes
Thank you for reporting your case.
I will fix it 😉

[2020-12-17 07:06] koxudaxi commented on #215
@themmes
I have fixed it for your use-case.
https://github.com/koxudaxi/datamodel-code-generator/pull/277/files#diff-9515230296b694c373b1d55f73319d2b632887f54935a9baa5513cb4455e59e1

The version is released as `0.6.11`

[2020-12-17 14:53] themmes commented on #215
That is amazing, works really well now. Thank you!

[2020-12-18 11:50] HuiiBuh opened #278 "Calling datamodel-code-generator programatically"
### Background Information

I would like to use the datamodel-code-generator in a program which automates the extraction of data-models of an existing API documentation. Unfortunately the API documentation is not in a JSON-format, but a simple Website.
So the plan is to parse the Website and create a JSON Schema with the information I gained.

### Actual Feature Request

I plan to generate the Pyd

[2020-12-20 18:04] koxudaxi commented on #278
@HuiiBuh
Thank you for creating this issue.

This function can generate model code from json schema.

https://github.com/koxudaxi/datamodel-code-generator/blob/e91ae4c6dc3fd6a1dfb561e1def2e681ec9ac2be/datamodel_code_generator/__init__.py#L132
But, the function doesn't return a string. We should change the output argument to get models as strings.
There is a workaround that you can output to a temp

[2020-12-20 18:27] HuiiBuh commented on #278
Thanks for the reply.
I have seen this method, but did not not how to use it exactly.

Perhaps a docstring, which describes how to use it and a bit of documentation would be nice.
I think this would not only be use  useful for my use case, but also for potential contributors which have a good starting point.

At the moment I can use *datamodel-code-generator* by just executing it with the `subproc

[2020-12-21 08:06] koxudaxi commented on #278
@HuiiBuh
OK, I write an example to generate models

[code]

the result of `print(model)`
[code]

I agree.
I want to add examples to documents.

[2020-12-21 08:20] HuiiBuh commented on #278
Thanks for the quick reply.
That looks really great and does not feel to much like a workaround.

And thanks for the your lib which really saves me a lot of time

[2020-12-24 09:04] #266 closed

[2020-12-24 10:02] koxudaxi commented on #278
I just add a page for using `datamodel-code-generator` as a module.
https://koxudaxi.github.io/datamodel-code-generator/using_as_module/

[2020-12-24 10:02] #278 closed

[2020-12-25 09:55] koxudaxi commented on #271
@Gowee
I have released a new version as 0.6.13
The version is fixed the bug.

[2020-12-25 10:05] Gowee commented on #271
@koxudaxi
I have tried that. It works pretty well. Thanks!

Now I am closing this issue.

[2020-12-25 10:05] #271 closed

[2020-12-25 10:48] bcbernardo opened #289 "Code generation fails with SchemaGenerationError: Could not find matching schema type for object: datetime.datetime"
**Describe the bug**
I am trying to generate pydantic models for [Hypothes.is](https://web.hypothes.is/)' [OpenAPI specification](https://h.readthedocs.io/en/latest/api-reference/) in YAML format. However, this fails with error `genson.schema.node.SchemaGenerationError: Could not find matching schema type for object: datetime.datetime(2019, 1, 3, 19, 46, 9, 334539, tzinfo=datetime.timezone.utc)`.

[2020-12-27 12:59] koxudaxi commented on #289
@bcbernardo
Thank you for creating this issue.
OK, I will fix it.

[2020-12-27 14:33] HuiiBuh commented on #278
Thanks that looks great

[2020-12-27 16:38] koxudaxi commented on #289
@bcbernardo
I have checked this YAML.
I understand why you got the error.
` --input-file-type=yaml `  is wrong.
This file is an OpenAPI file. you have to type openapi. ` --input-file-type=openapi `

Also, I got another error that it can't resolve reference files.
The OpenAPI $ref is a relative path.
For example, `$ref: './schemas/errors.yaml#/Error'`
The code-generator tries to find the `error.yam

[2020-12-27 16:43] koxudaxi commented on #215
I believe the issue is solved.
If some see any problem then, please create a new issue.

Thank you.

[2020-12-27 16:43] #215 closed

[2020-12-27 16:44] #256 closed

[2020-12-28 14:54] koxudaxi commented on #170
@gk-patel
I have released a new version as 0.6.15.
The version has the `--reuse-model` option that you want.

I put an example.

Input
https://github.com/koxudaxi/datamodel-code-generator/blob/681ca87e7ee0c25a9e83dfe2a4cc9916083f1229/tests/data/json/duplicate_models.json#L1-L15

Output
https://github.com/koxudaxi/datamodel-code-generator/blob/681ca87e7ee0c25a9e83dfe2a4cc9916083f1229/tests/data/exp

[2020-12-28 14:58] koxudaxi commented on #274
@Liam-Deacon
I have released a new version as `0.6.15`
I added `--use-schema-description` option on it for realizing your idea.
Thank you.

[2020-12-30 09:10] gk-patel commented on #170
@koxudaxi  No worries man, looks nice.

Although, the following would have been much more cooler,

[code]

[2020-12-31 17:48] koxudaxi commented on #170
@gk-patel
No problem, It's a good idea.
I can implement the changes easily.

But, I found a problem with a case.
The code generator generates the `Enum` class from JSONSchema/OpenAPI.
Enum class can't be extended.
[code]

We should assign to another value. or we don't touch duplicated enum 🤔

[2021-01-01 08:44] gk-patel commented on #170
Well, IMHO the easiest way would be to check if the content of enums is exactly the same,

- if it is exactly the same, just use the same name everywhere (so in that case, dont create class B)
- if it not exactly the same, the create a seperate enum without inheritance, (so in that case, create class A and B)

Do you have any arguments against this idea ?

[2021-01-07 02:17] koxudaxi commented on #170
@gk-patel
OK. I released a new version as `0.6.17`
This version has changed your idea.

https://github.com/koxudaxi/datamodel-code-generator/blob/ada9b19d4c51b22ac4d4a872794416ad71f329cd/tests/data/expected/main/main_json_reuse_model/output.py#L16-L26

The enum will reuse the same model. A duplicate model will be created too. Because some models may need the enum from other modules.
https://github

[2021-01-07 11:34] nadworny opened #298 "AttributeError: type object 'datetime.datetime' has no attribute 'datetime'"
**Describe the bug**
Generating schemas with `format: date-time` leads to wrongly imported datetime module. While running a FastAPI app that uses generated model.py I'm getting the following error:
[code]

**To Reproduce**

Example schema:
[code]

Used commandline:
[code]

**Expected behavior**
Imports should be resolved properly.
I fixed that by replacing the following lines:
[code]

with these:

[2021-01-08 15:44] koxudaxi commented on #298
@nadworny
Thank you for creating this issue.
I found the bug.  The example of `releaseDate` was parsed to `datetime`.
I expected the type is str.
But, The YAML parser cast the example to `datetime`. I fixed it.
I have released a new version as  `0.6.18`.

The result is here.
[code]

[2021-01-08 16:09] nadworny commented on #298
Awesome, I'll test next week!

[2021-01-13 09:30] #298 closed

[2021-01-13 13:00] sonali686 opened #300 "Exception: A Parser can not resolve classes when using `$ref` if references are nested"
**Describe the bug**
Parser can not resolve classes when using `$ref` if the path is nested even though the reference is a valid json pointer.

[code]

**To Reproduce**

Example schema:
[code]

Used commandline:
[code]

**Expected behavior**
I was expecting following things which is working when I do not encapsulate "Cat" and "Dogs" inside "Pet".
- Create the classes "Cat" and "Dog"
- Add "pet" at

[2021-01-15 03:06] yacchi opened #301 "Incorrect code is generated from nested schemas"
**Describe the bug**
If you generate code from similar schema definitions with nested structures, some schema definitions may be ignored.

**To Reproduce**

Example schema:
[code]

Used commandline:
[code]

**Expected behavior**
For an object with keyA and keyB, we expect two objects to be created.
However, only the Datum with keyB was generated.

[code]

**Actual behavior**
[code]

**Version:**

[2021-01-15 10:22] koxudaxi commented on #301
@yacchi
Thank you for creating this issue.
I fixed it. I have released a new version as `0.6.19`

[2021-01-15 15:28] #274 closed

[2021-01-15 17:19] koxudaxi commented on #246
@DjaPy
I implemented the feature. And I have released a new version as `0.6.20`.
The feature accepts only python dictionary include list.
A lot of users will prefer this simple way.

Thank you very much.

## Example
### data.py
[code]

### Command
[code]

### Output
[code]

[2021-01-16 22:28] FlorianLudwig opened #306 "Recognize constants for more readable type hints"
**Is your feature request related to a problem? Please describe.**

Enums generate classes to represent the the type, for example the following JSONSchema:

[code]

will generate:

[code]

This is a common case in APIs as there often is a `type` or `kind` field which is a constant value. Having hundreds of classes called `Kind*` results in several

 * Readability: `kind: Optional[Kind155] = Field(

[2021-01-18 01:22] yacchi commented on #301
@koxudaxi
Thank you for fixed and released.
I tried the new version and confirm that it works as expected.

[2021-01-18 01:22] #301 closed

[2021-01-18 09:36] koxudaxi commented on #306
@FlorianLudwig
I'm sorry. I overlooked a notification for this issue.

I add an option ` --reuse-model` that is reusing the same content model.
The option may cover your-case.

## Input
[code]

## Output
[code]

[code]

Did you expect the enum is only one when you want to change class name?
If I know the rule when class name is changed then, I can implement it.

I feel it's a good idea 😄
I guess t

[2021-01-18 17:01] koxudaxi commented on #300
@sonali686
I'm sorry. I have overlooked a notification for this issue.

OK, I understand why `Cat` and `Dog` models are not generated.
This parse finds JSONSchema objects in each path.
But,`definitions/Pets` is not `object`.

I just decided on how to implement it.
If $ref is a JSON pointer and It is not parsed, the parser parses it after all models parsed.

I will support it. please wait...

[2021-01-19 09:03] FlorianLudwig commented on #306
Hey,

thanks for the detailed explanation. `--reuse-model` sounds awesome.

Regarding changing the class name: My idea was to change it when an enum has only one possible value. Because in this case it is not really a enum but a constant.

The idea with the `--target-python-version 3.8` sounds perfect to me too.

[2021-01-19 19:10] koxudaxi commented on #300
@sonali686
I fixed it!! And I have released a new version as `0.6.22`.

[2021-01-21 09:22] hardbyte commented on #278
Thanks for adding this documentation! I wanted to simply get the pydantic class back to use for validation so I ended up loading the python code from the temporary file like this:

[code]

Usage like this:

[code]

[2021-01-21 10:06] koxudaxi commented on #306
@FlorianLudwig
I have added a new option  `--enum-field-as-literal` on `0.6.23`.
I provide two values are `all` or `one`  for the option.
### all
  _all enum field type is Literal_

 ` --target-python-version 3.8 --enum-field-as-literal all`
https://github.com/koxudaxi/datamodel-code-generator/blob/f9b64e0a214d9ecbe583289c6e8d6752e1d9cbb4/tests/data/expected/main/main_openapi_enum_models_all/outpu

[2021-01-21 16:15] koxudaxi commented on #278
@hardbyte
Interesting!!

I want to add your example to the documents.
Also,  I think this function is beneficial 😄
Because some users hope to create and import generated models dynamically.
https://github.com/koxudaxi/datamodel-code-generator/issues/195#issuecomment-689357216
The function doesn't cover all cases like modular models. But, It is a good start point 🚀

Thank you very much.

[2021-01-21 17:59] MikeZaharov opened #314 "Missing __root__ type for additionalProperties model"
**Describe the bug**
When json schema includes an object with additionalProperties , the generated pydantic model doesn't contain __root__ attribute

**To Reproduce**

Example schema:
[code]

Used commandline:
[code]

Generated code from the schema:

[code]
When instantiating this class with the following code:

[code]
The following error is raised from pydantic:
[code]

**Expected behavior**

The

[2021-01-22 08:40] MikeZaharov commented on #300
Hi! I have the similar problem for the following case:
test.json
[code]

base_test.json:
[code]
Used commandline:
[code]

Error:
[code]

The issue can be solved by editing ref link:
[code]
But i don't sure it's the right solution

**Version:**
 - OS: Ubuntu 16.04
 - Python version: 3.7
 - datamodel-code-generator version: 0.6.23

[2021-01-22 15:29] koxudaxi commented on #314
@MikeZaharov
Thank you for creating this issue.
I confirmed this problem. I will fix it.

[2021-01-23 12:59] koxudaxi commented on #314
@MikeZaharov
I have released a fixed version as `0.6.24` 🚀

[2021-01-23 22:24] CarlosDomingues opened #317 "Pydantic "Field" class not being imported when using the --snake-case-field option"
Example:

[code]

Output:
[code]

The output should be:

[code]

**Version:**
 - OS: Debian Buster
 - Python version: 3.8
 - datamodel-code-generator version: 0.6.24

[2021-01-24 16:06] koxudaxi commented on #317
@CarlosDomingues
Thank you for creating this issue.
I have released a fixed version as `0.6.25` 🚀

[2021-01-24 16:11] koxudaxi commented on #300
Hi @MikeZaharov,
Thank you for the bug report.
I just fixed it.
And, I have released a new version `0.6.25`
I tested your schemas with the version.
model.py
[code]

[2021-01-24 20:09] DjaPy commented on #246
Excellent. Thank you

[2021-01-24 20:09] #246 closed

[2021-01-25 18:54] MikeZaharov commented on #314
@koxudaxi
Thank you a lot for your quick response! The new version works as expected)

[2021-01-25 18:54] #314 closed

[2021-01-25 18:57] MikeZaharov commented on #300
@koxudaxi
I've just tested and it works correctly.
Thank you) This library is awesome!)

[2021-01-25 19:16] MikeZaharov opened #320 "Unexpected behavior with allOf and type: object"
**Describe the bug**
Hi again! Now I'm trying to generate pydantic model from the schema including `allOf` and `"type": "object"` fields at the top level.
And I got an unexpected model.

**To Reproduce**

Example schema:
[code]
base_test.json:
[code]

Used commandline:
[code]

Generated model:
[code]

**Expected behavior**
The problem can be solved by removing `"type": "object"` field:

[code]
Gen

[2021-01-26 02:53] koxudaxi commented on #320
@MikeZaharov
Thank you for your report.
I have fixed the problem.
And, I released a new version `0.6.26`

[2021-01-27 08:50] MikeZaharov commented on #320
@koxudaxi , it is working as expected. Thank you!

[2021-01-27 08:50] #320 closed

[2021-01-27 14:33] CarlosDomingues commented on #317
@koxudaxi thanks a lot for the quick response. I've updated `datamodel-code-generator` to the latest version (0.6.26) and now this issue seems to be solved. I believe we can close this issue.

[2021-01-27 14:33] #317 closed

[2021-01-30 14:37] koxudaxi opened #325 "[breaking change] Change internal interface [version 0.7.x]"
# Remove methods
- `DataType.from_model_name()`
# Remove properties
- `DataType.is_modular`

# Change return type of methods
## `DataModel` to `DataType`
- `JsonSchemaParser.parse_object`
- `JsonSchemaParser.parse_array`
- `JsonSchemaParser.parse_root_type`
- `JsonSchemaParser.parse_enum`

## Related issues
https://github.com/koxudaxi/datamodel-code-generator/issues/245

## PR
https://github.com/k

[2021-01-31 17:21] koxudaxi commented on #245
@scottcarr
I'm sorry for the late.
I have released a new version as `0.7.0`
The version has an option `--set-default-enum-member`.
The option replaces the default enum value to the enum member.

[code]

models.py
[code]

[2021-02-01 17:50] #325 closed

[2021-02-04 14:52] languitar opened #327 "Optional not generated for nullable strings in OpenAPI"
**Describe the bug**

When using `type: string` in combination with `nullable: true` in an OpenAPI specification, the resulting type should be `Optional[str]` but it is not.

**To Reproduce**

Example schema:
[code]

Used commandline:
[code]

**Expected behavior**

The generated class should be
[code]
but currently it is:
[code]

**Version:**
 - OS: Linux
 - Python version: 3.9
 - datamodel-code-g

[2021-02-04 14:56] languitar commented on #327
Maybe this is a regression. https://github.com/koxudaxi/datamodel-code-generator/pull/8 looks like this used to be implemented.

[2021-02-04 15:30] goodoldneon commented on #327
The behavior around `Optional` is a little strange. In addition to your problem, making a field non-required and non-nullable with a default results in an `Optional` type. But if a non-required field has a default, and cannot be set to `null`, then it should never be `None` in Python.

[2021-02-04 16:28] koxudaxi commented on #327
@languitar
Thank you for creating this suggestion.
The behavior is not regression. `required` and `nullable` have not been supported at the same time yet.

I think that If `required` and `nullable` are used  then, the generator should return `prev: Optional[int] = ...`
https://pydantic-docs.helpmanual.io/usage/models/#required-optional-fields

Also, I expect ` prev: Optional[str]` is generated fro

[2021-02-04 17:01] koxudaxi commented on #327
@goodoldneon

Interesting.

OK, I write an example.
[code]

Did you expect the field from the schema?
`prev: str = Field(..., default='example')`

Your opinion is correct, But the change is a too huge an impact.
We should provide the behavior as a CLI option.
The option may be `--strict-nullable` or another name.

What did you think about it?

[2021-02-04 19:18] languitar commented on #327
Anything that enables me to also provide `None` values on the Python side is fine for me. Right now this simply isn't possible.

[2021-02-04 21:32] goodoldneon commented on #327
Yes, that's what I'd expect. I think OpenAPI defaults `nullable` to `false`, which would mean that `prev` could never be `None` in Python.

A CLI argument sounds like a good choice! That'd make sure we don't introduce breaking changes for other people.

[2021-02-05 09:09] languitar commented on #327
That's right.

Is there any change to get a quick fix for this? This is currently blocking one of our projects.

[2021-02-05 09:14] koxudaxi commented on #327
@languitar

Sorry, Nothing!!
I want to add the option. But, I'm working on daily work now.
I will add it after dinner tonight. Is it OK?

[2021-02-05 09:29] languitar commented on #327
That's perfectly fine. Your fixes always extremely fast :)

[2021-02-05 20:01] koxudaxi commented on #327
@languitar @goodoldneon
I just released a new version `0.7.1`
The version has  `--strict-nullable` option.

##### command
`$  datamodel-codegen --input openapi.yaml --input-file-type=openapi  --strict-nullable`

####
openapi.yaml
[code]

#### output
[code]

@goodoldneon
Btw, pydantic doesn't support `prev: str = Field(..., default='example')`
We should write `prev: str = 'example'`

[2021-02-08 10:21] languitar commented on #327
Thanks again for fast resolution! That version and CLI flag seems to work for the use case I have described. However, now I am also seeing other changes to the generated models that I do not expect. For instance, I am now seeing to following hunk:

![image](https://user-images.githubusercontent.com/1336287/107206498-69f25c00-69ff-11eb-9227-136378df5047.png)

The respective OpenAPI type is:
[code]

[2021-02-08 15:38] koxudaxi commented on #327
@languitar

Thank you for testing the new version.

Yes. But, I can discuss it with you.

I imagined this matrix
required |  has default | nullable | result |
------------ | ------------- | -------------  | ------------- |
Yes | No | No |   name: str |
Yes | Yes | No |  name: str = ... |
Yes | Yes | Yes | name: Optional[str] = ... |
Yes | No | Yes |  name: Optional[str] = ... |
No | Yes | No |  na

[2021-02-08 16:17] languitar commented on #327
For the last case of your table, OpenAPI explicitly allows an absent value. If there is no `Optional` in Python for this case, then I cannot represent one case that is explicitly intended by OpenAPI. So I don't see how this can be avoided without being less expressive on the Python-side than with the specification.

[2021-02-08 17:29] koxudaxi commented on #327
Thank you for your comment.
I agree. we should write the table on the document to explain this option.

I'm waiting for other feedback.

[2021-02-08 23:30] goodoldneon commented on #327
Thank you so much for the quick fix, @koxudaxi! The new version fixes my problem when I use the `--strict-nullable` flag. I really appreciate your responsiveness, and thanks for maintaining such a great tool!

[2021-02-09 06:56] koxudaxi commented on #327
@languitar
I have released a new version as `0.7.2`
Could you check it out?

[2021-02-09 08:42] languitar commented on #327
Thank you again for being so quick on this one! This looks now exactly as expected!

[2021-02-09 08:58] languitar commented on #327
Should I close the issue?

[2021-02-09 09:01] koxudaxi commented on #327
I have closed the issue.
Thank you!!

[2021-02-09 09:01] #327 closed

[2021-02-11 10:42] makkus opened #331 "Dynamic creation of BaseModel classes at runtime"
**Is your feature request related to a problem? Please describe.**

I want to dynamically create classes that inherit from BaseModel (and later objects from those classes) at runtime, and use them in the same process. I could use the rendered files and load those dynamically, but that seems like a roundabout way of doing it.

**Describe the solution you'd like**

I am not sure if that would be eno

[2021-02-11 17:20] koxudaxi commented on #331
@makkus
Thank you for creating this issue.

I know that some users want the feature.
There is a workaround on this page. You may have already checked it.
https://koxudaxi.github.io/datamodel-code-generator/using_as_module/

I have not written an example to generate a Python class dynamically without writing models in files.

But, We can do it easily by using  [Parser.parse()](https://github.com/ko

[2021-02-12 08:37] makkus commented on #331
Thanks a lot for the very detailed response, @koxudaxi . When adding this issue I only had a look at the 'generate' method that is used in the workaround you mentioned, which is why I assumed the project was more tightly coupled than it actually is. Good to know that the necessary modularity is already there!

It seems doable to implement a DataModel for my use-case, so I will try to do that, I'm

[2021-02-13 14:48] koxudaxi commented on #331
Sounds good! I have closed this issue.
If you have any question or  idea then, please open a new issue or use [discussions](https://github.com/koxudaxi/datamodel-code-generator/discussions)

Thank you.

[2021-02-13 14:48] #331 closed

[2021-02-13 15:31] #300 closed

[2021-02-15 02:34] ofek opened #332 "Generated intermediate models may shadow imports"
Hey, great library, thank you!

**Describe the bug**

See `Optional`

**To Reproduce**

Example schema:

[code]

Used commandline:
[code]

Produced:

[code]

**Version:**
 - OS: Windows 10
 - Python version: 3.8
 - datamodel-code-generator version: 0.7.2

[2021-02-15 03:03] ofek opened #333 "oneOf is not treated the same as anyOf"
**Describe the bug**

The docs indicate that they are both treated as `typing.Union`

**To Reproduce**

Example schema:

[code]

Used commandline:

[code]

`oneOf`:

[code]

`anyOf`:

[code]

**Version:**
 - OS: Windows 10
 - Python version: 3.8
 - datamodel-code-generator version: 0.7.2

[2021-02-15 04:07] ofek opened #334 "Add ability to use generic container types"
**Is your feature request related to a problem? Please describe.**

We have immutability requirements and therefore do not use `list`/`typing.List` nor `dict`/`typing.Dict`

**Describe the solution you'd like**

An option that would use `typing.Sequence` instead of `typing.List` and `typing.Mapping` instead of `typing.Dict`

If `use_standard_collections` option is set, then import from `collection

[2021-02-15 08:59] koxudaxi commented on #332
@ofek
Thank you for creating this issue.
Oh, I don't expect the case.
We have two options.
a. Use an alias name to import duplicated class name like `Optional`.
b. Change the name of the model

`a.` affects only this file(python module)
`b.` impacts all modular files.

I feel `b.` is good.

What do you think about it?

[2021-02-15 09:06] koxudaxi commented on #333
@ofek
Good point!!
I give up the feature of `oneOf`.
https://github.com/koxudaxi/datamodel-code-generator/pull/147

I will fix to treat `oneOf` strictly.
I may add an option for this feature to keep current behavior.

Thank you!!

[2021-02-15 09:26] koxudaxi commented on #334
@ofek
Thank you for suggesting this feature.
Looks Good!!
I will implement it when I get the time.

Wow, it's excellent news. 🥳
May I write the use-case in the README/documentation after you release it?

[2021-02-15 14:43] ofek commented on #334
Sure!

[2021-02-15 14:46] ofek commented on #332
`b.` sounds fine!

[2021-02-15 16:38] ofek commented on #333
Ah, I was expecting the same behavior as `anyOf`, so I'm just using that now

[2021-02-15 16:47] koxudaxi commented on #333
I'm sorry, I have misread the problem.
`oneOf` may be broken 🤔
I will check it.

[2021-02-16 02:48] ofek opened #337 "Add ability to enable faux immutability for every model"
**Is your feature request related to a problem? Please describe.**

Same as https://github.com/koxudaxi/datamodel-code-generator/issues/334

**Describe the solution you'd like**

The option would ensure that every generated model has a config with `allow_mutation = False`

https://pydantic-docs.helpmanual.io/usage/models/#faux-immutability

**Describe alternatives you've considered**

In my featur

[2021-02-16 04:14] koxudaxi commented on #333
@ofek
I have released a fixed version `0.7.3`

[2021-02-16 04:16] koxudaxi commented on #334
@ofek
I have released a new version `0.7.3`
The version has `--use-generic-container-types`

[2021-02-16 04:17] koxudaxi commented on #337
@ofek
I have released a new version `0.7.3`
The version has `--enable-faux-immutability`

[2021-02-16 05:06] ofek commented on #333
Fixed!!! 🙇

[2021-02-16 05:06] #333 closed

[2021-02-16 05:12] ofek commented on #337
Wow that was quick, thanks!!!

[2021-02-16 05:12] #337 closed

[2021-02-16 05:15] ofek commented on #334
Amazing, thank you very much!!! I'll comment here when my PR gets merged 🙂

[2021-02-16 05:15] #334 closed

[2021-02-16 09:06] schefflaa opened #339 "UTF-8 is not the default encoding"
**Describe the bug**
In the [usage section](https://github.com/koxudaxi/datamodel-code-generator#user-content-usage) it is stated that the default encoding is utf-8. However the comand line paramater has to be set explicitly in order to properly transform the code. Otherwise some characters are displayed as �.

Used commandline:
[code]

**Expected behavior**
The correct transformation of umlauts (

[2021-02-16 09:27] koxudaxi commented on #339
@schefflaa
Thank you for creating this issue.
I'm sorry, the usage section is not clear 🤦
Default encoding depends on your environment.
https://github.com/koxudaxi/datamodel-code-generator/blob/9842c538cad593f6e253713e3d40561873291d24/datamodel_code_generator/__main__.py#L50

I wanted to keep the same behavior, and I set the value.
But,  I think changing default encoding to 'utf-8' may be better t

[2021-02-16 11:07] schefflaa commented on #339
@koxudaxi
Absolutely no problem! In my opinion either way would be fine, so go with it as you like, I'd just make sure to properly mention the behaviour of the default encoding in the readme file.

[2021-02-16 14:27] koxudaxi commented on #339
OK, I will add it to the documentation
Thank you!!

[2021-02-16 19:25] koxudaxi commented on #332
@ofek
Would you need to fix the problem early?
We must refactor change the relationship between a model and referenced model.

We may need another plan. 🤔

[2021-02-16 20:06] ofek commented on #332
@koxudaxi Take your time! Do the correct approach

[2021-02-17 06:01] koxudaxi opened #344 "[breaking change] Change internal interface and Improve model genenration [version 0.8.x]"
## Add attribute
### `DataType`
- `DataType.alias`
If `DataType.alias` has a value then `DataType.type_hint` use it instead of `DataType.type`

## Improve model generation
Constrained type and model of all_of are not created when it is not needed.

## PR
- Ignore duplicate object of allOf [#343]
- Improve constrained type in array [#342]
- Improve complex additional properties [#341]
- Add alias a

[2021-02-19 15:07] mybr4inhurts opened #348 "codegen for nullable Enum throws AttributeError"
Hi,

we have encountered a problem when trying to generate code for nullable Enums. This bug is present since at least version 0.7.3.

**Describe the bug**
When generating code from an OpenAPI 3.0.3 spec with a nullable enum for my python project, the datamodel-codegen throws an AttributeError `'NoneType'" object has no attribute 'isIdentifier'` though it should be possible to model nullable enums

[2021-02-20 12:12] tstorek opened #349 "specify input_filename when used as module"
**Describe the bug**

Hello,

thanks, for this really handy tool. However, I discovered either an ill documented or really unexpected behavior when using the generator  a module  according to this example:

https://github.com/koxudaxi/datamodel-code-generator/blob/master/docs/using_as_module.md

The example works as expected, but when using a dirpath for 'input_' and simultaneously give an input_f

[2021-02-20 14:46] koxudaxi commented on #348
Thank you for creating this issue.
I don't expect the pattern.
OK, I will fix it soon.

[2021-02-20 16:05] koxudaxi commented on #349
Thank you for creating this issue.
I'm sorry, The workaround is not clear.
`input_` should be an absolute Path or strings of contents.
If you pass a directory as `Path` then, the code-generator parse all file.
[code]

Yes, CLI doesn't use it. I expect this case.
[code]

However, This behavior may confuse you and other users. I may remove the option in the future version. 🤔

[2021-02-20 18:34] koxudaxi commented on #349
@tstorek
I have relased a new version as `0.8.2`
The version fixed the relative path problem on the input file.
You can pass the `Path` of a file or directory without getting an absolute path.

[code]

[2021-02-21 01:33] koxudaxi commented on #348
@mybr4inhurts
I relased a new version as 0.8.2
The version is fixed the problem.

[2021-02-22 11:07] mybr4inhurts commented on #348
The model is generated according to my suggestion now...though it was only a suggestion. I'm nowhere near an openapi expert. 😅
With the new models I have encountered a pydantic bug "null" is not allowed for security_class.

After digging down the rabbithole I found an inconsistency in the model creation process. If you define the enum inside of the class that uses it, the models are created correc

[2021-02-22 12:35] mybr4inhurts commented on #348
Update:
Nevermind, I had an error in my openApi.yaml...an unwanted requirements entry had sneaked itsself into my code...

So the model generation from enums works as expected.

The problem with a "nullable enum" still exists though.
It is currently not possible to model an Enum that can have "null" oder None as Field. My suggestion is not quite providing a solution to the problem, because you can

[2021-02-22 18:24] koxudaxi commented on #348
@mybr4inhurts
Thank you for testing the new version.
I'm happy that you can clear the first problem 🎉

OpenAPI and Python are not in the same context.
It means we may not resolve the problem perfectly.

 I feel a workaround with `__root__` is not bad.
But, I can implement `SecurityClass.null`.
A lot of users haven't used nullable enum yet.
we can change behavior. Or adding the CLI option.
I'm a li

[2021-02-23 09:51] mybr4inhurts commented on #348
Thank you for your response.
Your suggestion with using the literal option is great but I personally feel having classes is just a bit more explicit.

I agree, the `null` option is not a good solution but it was my desperate try to come up with...something, I guess. 😅
I am also fine with working with `__root__` and I really don't see a better alternative right now. 🤷‍♂️

It means we may not resolv

[2021-02-23 17:18] koxudaxi commented on #348
@mybr4inhurts

Yes, I expect this behavior.
I don't want to break current behavior because this code-generator is used in a lot of projects.

I implemented nullable-enum only for nullable == true and type == string.
The previous version of the generator couldn't generate a valid Enum class with the pattern. (You said the problem on the head of this issue.)
It means we didn't break the behavior and

[2021-02-24 12:04] sonali686 commented on #300
@koxudaxi
I am using latest version (0.8.2) of the library and delighted to see many new options.  Thanks for the awesome library once again :)

I came across one more scenario where library fails to resolve classes while using $ref.

[code]

Is it possible to support this scenario as well?  Is it possible to resolve any reference if it is a valid json pointer? Currently I am getting same exceptio

[2021-02-24 17:52] koxudaxi commented on #300
@sonali686
Wow, I don't expect the pattern.
The code-generator resolves JsonPointer after parsing all non-JsonPointer objects.
Your example has JsonPointer is in JsonPointer.
It means the nested JsonPointer is not resolved.

I have fixed the code with my hands instantly.
It can generate it :)
I will push the complete fixed version tomorrow.
Thank you.

I put generated models.
Did you expect the mo

[2021-02-25 06:29] sonali686 commented on #300
@koxudaxi

Yes I expected these models. Thanks for providing the solution so fast. 👍

[2021-02-25 14:48] koxudaxi commented on #300
@sonali686
Thank you for your response!!

I have released a new version as `0.8.3`!!

[2021-03-01 20:14] mboutet opened #355 "Flag to use strict types in generated code"
**Is your feature request related to a problem? Please describe.**
I'd love to be able to strictly validate primitive types (`int`, `str`, `bool`, ...) instead of silently having `pydantic` consider that `1` is a valid `str`.

**Describe the solution you'd like**
A flag such as `--strict-primitive-types` or `--strict-types` that will result in the generated code to use `Strict*` (e.g. `StrictStr`)

[2021-03-02 08:29] #344 closed

[2021-03-02 09:57] koxudaxi opened #356 "Refactoring model structure and relation"
## Motivation
This library manages parsed models with `name` when generating models.
But, The way may not work well when changing the model name after parsed all models.
Because the library has to check all type-hint and import statements on all modules.
Also, the way can't resolve parent and child models easily over `$ref` after generated.

## Solution
All model must have a `Reference` object whi

[2021-03-02 10:25] koxudaxi opened #357 "Change internal interface and Improve model genenration [version 0.9.x]"
# Breaking Change

## Model generation
- The library will not be able to parse JSONSchema/OpenAPI which has invalid $ref.

## Internal Interface
### DataModel
-  Arguments of `__init__` are changes.
remove -> `name`, `imports`, `auto_import`, `reference_classes`
change -> `reference` is required argument
### DataType
- remove classes methods (`from_reference()`,  `create_literal()`)
- remove `name

[2021-03-02 10:35] koxudaxi commented on #355
@mboutet
Thank you for creating this issue.
I feel your suggestion is great 😄

I prefer this style. And, I will add `all` as choices.

I'm working on developing the next minor version. (0.9.0) https://github.com/koxudaxi/datamodel-code-generator/issues/357
I will implement your request after it is released.

[2021-03-02 10:56] koxudaxi commented on #215
Hi, @themmes
I don't know you recently use the library.
But, I tell you breaking changes in the next version (0.9.0). https://github.com/koxudaxi/datamodel-code-generator/issues/357
The next version may not parse your JSONSchema. Because it needs valid `$ref`.

It means You should change `$ref` to valid `$ref`which I talked you  about it https://github.com/koxudaxi/datamodel-code-generator/issues/

[2021-03-02 11:09] themmes commented on #215
@koxudaxi Thanks a lot for the heads up, thats very kind 🙏 ! I'll make the changes like you suggested and will test it soon with this new version.

[2021-03-02 12:04] koxudaxi commented on #215
I will notify you when the new version is released.
Thank you very much!! 😄

[2021-03-02 20:30] aexvir commented on #215
As always, thanks for the effort on this @koxudaxi 🙂️
But unfortunately I'm a bit confused by this message you posted today...
valid `$ref` seem to be able to handle specific elements inside a single definition

**[$ref Syntax](https://swagger.io/docs/specification/using-ref/)** or [this other reference](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#referenceObject)
Ac

[2021-03-03 01:27] koxudaxi commented on #215
@aexvir
Your thought about `$ref` is right. But, You misunderstand my changes.
I had to explain the detail of invalid `$ref`.
The test case did reference `"$ref": "file_a.json#/ModelA"`
https://github.com/koxudaxi/datamodel-code-generator/blob/81595f2b73157cffb290431818a481dc8dcaf744/tests/data/jsonschema/multiple_files/file_a.json#L1-L13

`ModelA` is the value of `title`. I guess It is an invalid

[2021-03-03 11:22] aexvir commented on #215
@koxudaxi oh... I see
My bad then, sorry for the noise

The problem is that I'm still struggling with refs working properly, with completely valid definitions, but I'll make a new issue with some reproducible example, that way it should be easier to analyze 🙂️

Thanks a lot!

[2021-03-03 14:10] koxudaxi commented on #215
@aexvir
Don’t worry about it😄

Thank you very much!!
I think examples and test-case support this project. 🚀

[2021-03-04 16:39] #356 closed

[2021-03-04 16:39] #357 closed

[2021-03-04 16:46] koxudaxi commented on #332
@ofek
I have released a new version `0.9.0`
This version change duplicated name with `Model`  as suffix.
[code]

[2021-03-04 16:51] ofek commented on #332
Awesome, thank you!

[2021-03-04 16:51] #332 closed

[2021-03-04 16:55] koxudaxi commented on #215
I have released a new version `0.9.0`. 🎉

@themmes
I believe the version can parse your new schema.

@aexvir
The new version is changed internally design.
I hope that the version can resolve all complex references.

[2021-03-08 07:12] koxudaxi commented on #289
Hi @bcbernardo
I add the option `--url` on version `0.9.1` which we can give URL as an input file.
[code]

[2021-03-08 07:21] koxudaxi commented on #355
@mboutet
I have released a new version as `0.9.1`
I add this option!!
[code]

[2021-03-08 12:07] bcbernardo commented on #289
I just confirmed that convertion works as expected for the mentioned OpenAPI, with the optional dependencies `datamodel-code-generator[http]` installed, `--input-file-type=openapi` as the input file type and the brand new `--url` parameter:

[code]

Closing the issue. Thank you very much for the support!

[2021-03-08 12:07] #289 closed

[2021-03-08 14:11] mboutet commented on #355
@koxudaxi, works like a charm! Thanks a lot.

[2021-03-08 14:11] #355 closed

[2021-03-08 16:16] #349 closed

[2021-03-10 20:25] pdeligia opened #371 "codegen for enum with operators produces attempts to reuse '_' resulting in python error"
**Describe the bug**
Hi, we encountered an issue when trying to generate code for an enum that contains operators. The code that is generated reuses the `_` character for field names:

[code]

Which results in the following error when running the python program:

[code]

**To Reproduce**

Example schema:
[code]

Used commandline:
[code]

**Expected behavior**
I would expect something like the foll

[2021-03-11 01:51] koxudaxi commented on #371
Thank you for creating this issue.

I expect `x-enum-varnames` to work for your case.
https://openapi-generator.tech/docs/templating/#enum

But, the option only works for numbers now :(
I will fix this feature.

[code]

[2021-03-11 02:18] pdeligia commented on #371
Thank you, much appreciated!

[2021-03-11 04:01] koxudaxi commented on #371
@pdeligia
I have released a fixed version as `0.9.2` 🎉

## Output
[code]

Btw, you wrote `swagger: '2.0'`. Unfortunately, The code-gen doesn't support swagger. You should use OpenAPI 3.0

[2021-03-11 17:16] pdeligia commented on #371
Awesome news, thank you for the really quick fix, I will check it out :)

[2021-03-17 02:27] #170 closed

[2021-03-17 02:28] #306 closed

[2021-03-17 02:29] #245 closed

[2021-03-19 07:58] tstorek opened #379 "testing with https://www.schemastore.org/json/"
Hello,

thanks again for this piece of software. I have a little project for that I would like to use the code generator.
The basic idea is the following:
 1. parse existing data models from https://www.schemastore.org/json/ or ontologies in the form of *.ttl or *.owl to create pydantic models.
2.  create instances of my models from a large dictionary of data
3.  validate the data via pydantic, at

[2021-03-20 11:53] koxudaxi commented on #379
@tstorek
Thank you for creating this issue.
I feel great suggestion.

I agree. But, I don't know top-layer is not needed on users. They may need it.
And, The code generator can set converted class-name. But, the converted name may not best name. So, I think users should set names for models.

Would you please tell me the schemas?
I want to fix the code for it.

I will try it 😄

[2021-03-20 20:49] bennypowers commented on #153
I have a schema in an openapi 3 yaml file:

[code]

and I get :

[2021-03-21 06:13] yuyupopo opened #380 "codegen for enum with empty string"
**Is your feature request related to a problem? Please describe.**

### Environment

`datamodel-code-generator==0.9.3`

### Scenario

Wanted to generate pydantic models from docker engine API.

`datamodel-codegen --url "https://converter.swagger.io/api/convert?url=https://docs.docker.com/engine/api/v1.30.yaml"`

Note that docker engine api uses openapi 2.0 spec. Therefore, I used `converter.swagge

[2021-03-21 06:49] koxudaxi commented on #380
@yuyupopo
Thank you for creating this issue.
I want to fix it.
I think If the enum value is `''` then, the field name  `empty` is better than `_`.

[2021-03-21 06:51] yuyupopo commented on #380
I believe it is highly unlikely, but what if enum is given as below?

[code]

Also, I've tried a quick fix importing `Literal` from `typing_extensions` if target python version is lower than 3.8.
https://github.com/yuyupopo/datamodel-code-generator feel free to check it out.

[2021-03-21 06:53] koxudaxi commented on #380
I just want to say the same problem.

I feel a good workaround, But users may need `enum`.

[2021-03-21 06:55] yuyupopo commented on #380
Then what about, `--empty-enum-field-value` option that can accept an arbitrary string? The option has `empty` as default (or `_`), and users can change it if they want to.

[2021-03-21 06:57] koxudaxi commented on #380
`--empty-enum-field-name` is more strict ?

[2021-03-21 06:57] yuyupopo commented on #380
Yeah, I believe that's a better name

[2021-03-21 06:58] koxudaxi commented on #380
OK, I will fix it soon. Thank you

[2021-03-21 07:00] yuyupopo commented on #380
Also, what do you think about this?

Do you feel it necessary? If it does, should I open a new issue, or just create a new PR for it?

[2021-03-21 07:04] koxudaxi commented on #380
I welcome a new issue and PR!!

[2021-03-21 07:24] yuyupopo opened #381 "Allow enum as Literal in python 3.7 via typing_extensions backport"
**Is your feature request related to a problem? Please describe.**

I want to use both options `--target-python-version 3.7` and `--enum-field-as-literal all` at the same time.
This is currently not allowed via this [line](https://github.com/koxudaxi/datamodel-code-generator/blob/3f7975a5a239f33533a12d68a01d08668ba86b1b/datamodel_code_generator/__main__.py#L256).

**Describe the solution you'd lik

[2021-03-21 07:53] #381 closed

[2021-03-21 09:32] koxudaxi commented on #380
@yuyupopo
I have released a new version as `0.9.4`
Thank you very much!!

[2021-03-21 09:33] yuyupopo commented on #380
Thank you too!

[2021-03-22 00:54] #380 closed

[2021-03-22 03:04] yuyupopo opened #385 "Reserved name populated by snake-case-field"
**Describe the bug**

When a property name is `Global`, and `--snake-case-field` option is given, the generator creates a pydantic model named `global` which fails, because `global` is a reserved keyword.

**To Reproduce**

Below is a command to generator models from docker engine api.
The docker engine api has a schema(`Mode`) that has `Global` as property name.

Used commandline:
[code]

**Expec

[2021-03-22 03:16] koxudaxi commented on #385
@yuyupopo
Thank you for posting the suggestion.

I'm working on improve field_name.
We should use the method to get valid field_name.
[code]

[2021-03-22 03:21] koxudaxi commented on #385
We may need to split the class to `ModelResolver` and `FieldNameResolver`?
I will think about it at lunchtime...

[2021-03-22 03:38] yuyupopo commented on #385
But it seems that field preprocessors are called after `get_valid_field_name_and_alias`.
Are you planning to merge the functionalities of `get_valid_field_name_and_alias` and `field preprocessors`?

[2021-03-22 03:51] koxudaxi commented on #385
Yes.
Of course, We should confirm the effect of the changes.
But, The code-generator is used in a lot of productions.
We should change carefully.
I want to hear your opinion.

[2021-03-22 04:17] yuyupopo commented on #385
First of all, I believe resolving this issue won't effect existing programs, because it is mentioning a corner case that generation fails.
The code already assumes the field names aren't a reserved name. (as checked via`get_valid_field_name_and_alias`). The situation in this issue is a bug where the assumption fails; the field name becomes a reserved one after field_preprocessor.

Second, splittin

[2021-03-22 05:26] koxudaxi commented on #385
OK, I will split the function to `FieldNameResolver`/`ModelResolver`.

Example)

I think the options should be explained in the documents. https://github.com/koxudaxi/datamodel-code-generator/issues/133
But, I have not written it yet :(

Thank you

[2021-03-22 17:42] ofek commented on #334
https://github.com/DataDog/integrations-core/pull/8675 is merged and I've started the syncing of every integration: https://github.com/DataDog/integrations-core/pulls 😄

[2021-03-22 17:59] koxudaxi commented on #334
@ofek
It's great!! 🎉

Do you use OpenAPIParser directly here?
https://github.com/DataDog/integrations-core/blob/85d693ffa317c20c7e623a17c299e6ea137a5a35/datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/consumers/model.py

I will keep the result of OpenAPIParser().parse().
But, I will refactor the low-level function because the current version doesn't reach `1.0`
If you get any pro

[2021-03-22 19:13] ofek commented on #334
Yes we use that directly. I'll let you know if we encounter any issues, thank you!

[2021-03-23 09:57] tstorek commented on #379
@koxudaxi
Thanks, for the response. I agree that top-layer needs to persist, but it may be not of greatest interest. Nevertheless, it would be great to define a callback for generating ClassNames for referred schemas. Hence, it would be possible to parse linked schemas.

In fact, I tried to parse the schema from here: https://github.com/FIWARE/data-models/tree/master/specs/Building
that I do not m

[2021-03-24 02:05] larsks opened #392 "Generated data has circular imports?"
**Describe the bug**

I'm trying to use `datamodel-codegen` to produce Pydantic models from OpenShift resources. While the command completes successfully and generates a hierarchy of Python modules, attempting to import anything results in:

[code]

**To Reproduce**

I've started with the OpenShift schema available from `https://<your_openshift_server>/openapi/v2`. This produces a 17MB output file

[2021-03-25 01:58] koxudaxi commented on #379
I'm sorry, What is `callback` ? Do you mean set className converted name from the `title`?

Is the error this?
[code]

[2021-03-25 03:07] koxudaxi commented on #392
Thank you for creating this issue.
I have found a bug.
This problem is related to the issue https://github.com/koxudaxi/datamodel-code-generator/issues/244
I will fix it.

## deep dive into the problem

Annotations9 is referenced from `generated.com.github.openshift.api.image.TagReference`

[code]

I search the description from the schema.
[code]
The code-generator detects the model as a modular m

[2021-03-25 10:19] tstorek commented on #379
For the callback: https://en.wikipedia.org/wiki/Callback_(computer_programming)

Or short you pass a function as an argument to another function or class. Afterward, this function is able to execute the function if it can understand its signature. My idea would be to pass a function that receives the string as an argument, parses it for instance to a python conform classname with something like re

[2021-03-25 11:06] koxudaxi commented on #379
@tstorek
Thank you for explaining the idea.
I want to implement the approach. Also, I will  prepre camelCaseGenerator as default  `custom_classname_gen`

What version of the datamodel-code-generator did you use?
I recommend using the latest version `0.9.4`

I could generate models by version `0.9.4`. Of course, I copied your code.
But, I got some warning. I will support the formats.

[code]

[2021-03-25 16:36] tstorek commented on #379
@koxudaxi
I used 0.6.9 for the error above.
After updating to the newest version I receive the same warning as you.
Now I can generate models as well, yeah! 👍  However, I am surprised to find for instance Email and Email1 as models. This is also the case for some of the other models. The definitions of both models seems to be the same.

[2021-03-25 17:00] koxudaxi commented on #379
@tstorek
Great!!

umm...
It's a troublesome problem...
$id may confuse code generator.
There is a workaround. You can generate models without duplicate Email objects when getting schema from URL directly

[code]
I will investigate the duplicate problem.

[2021-03-26 06:58] tstorek commented on #379
Thank you! I think we should keep this open until the other tests are implemented, right?

[2021-03-26 07:02] koxudaxi commented on #379
Yes, I fixed the problem in #394. But, I haven't released it. I will do it this weekend
I will close the issue after I release it.
Thank you.

[2021-03-27 00:01] larsks commented on #392
Thanks for the detailed description of the problem!

[2021-03-27 15:48] koxudaxi opened #398 "Change internal interface and Improve model genenration [version 0.10.x]"
# Breaking Change

## Model generation
- The library will not be able to parse JSONSchema/OpenAPI which has invalid $ref.

## Internal Interface
### Parser
- remove `append_result` method
- remove `root_id_base_path` property

## PR
- Support time and idn-email format #397
- Support custom_class_name_generator #396
- Reduce unnecessary downloading #395
- Fix resolving ref with root id #394
- Fix m

[2021-03-27 15:53] #398 closed

[2021-03-27 16:02] koxudaxi commented on #392
@larsks
I have released a fixed version `0.10.0`. 🚀
openshif.json is a huge schema. I don't check all models.
If you find any problem in generated models then please tell me it.
Thank you.

[code]

[2021-03-27 16:04] koxudaxi commented on #385
@yuyupopo
I'm sorry for the late release.
I pushed the new version as `0.10.0`

[2021-03-27 16:12] koxudaxi commented on #379
@tstorek
I pushed a fixed version.
You can generate models from the downloaded file.

If the title is not a valid Python class name then the parser creates a camel class name automatically.
Also, The version supports a custom class name generator
https://github.com/koxudaxi/datamodel-code-generator/blob/939b8d7dac892afc84645ac2c9ed2270c6309799/tests/test_main.py#L2163-L2174

[2021-03-28 01:31] yuyupopo commented on #385
No worries :) Thx for the fix

[2021-03-28 18:21] rushabh-v commented on #379
Hi @koxudaxi,

First of all thanks for the amazing tool. I am getting the following error,

[code]

You have mentioned this error twice in this thread. Do you know the cause?

Thanks!

[2021-03-29 01:19] koxudaxi commented on #379
@rushabh-v
Thank you for your reports!!
I guess pyyaml failed to parse your schema.
Would you please share the schema?

[2021-03-29 06:04] rushabh-v opened #399 "Does not inherit all the classes mentioned in `allOf`"
**Describe the bug**
It is not extending all the mentioned classes in the `allOf` attribute of the schema.

**To Reproduce**
I am running this on the directory: https://github.com/AnalyticalGraphicsInc/czml-writer/tree/master/Schema. But it does not inherit all the classes as I mentioned above. For example, one of the schemas is as follows,
[code]
It generates the class as follows:
[code]
**Expect

[2021-03-29 06:08] rushabh-v commented on #379
Hi, thanks for your response. I found my mistake and got it working now. But I think there is a problem with the inheritance of the schemas mentioned in `allOf`. I think it's out of this issue's scope, so I have opened another one at #399. Please take a look :)

Thanks!

[2021-03-29 06:57] koxudaxi commented on #399
@rushabh-v
Thank you for creating this issue.
The schema has `allOf` and `properties`. So, the code-generator detected it as an object model and not `allOf` model.
I can fix it.

However, The schema has array attributes too.
The pattern is a little complex.
[code]

I guess the combined type is written as `Union` in pydantic.
Unfortunately, these models can't resolve by pyndatic. :(

[code]

output

[2021-03-29 07:08] tstorek commented on #379
@koxudaxi thanks, for fixing this. One last thing : Can I also enforce classname generation. That would interesting to keep consistency in codestyle. Since snake_would be also a valid python class name but not pep8.

[2021-03-29 07:19] koxudaxi commented on #379
@tstorek

Do you mean a top-level model? Or, all generated models?
Top-level model name is generated by `title_to_class_name()`
https://github.com/koxudaxi/datamodel-code-generator/blob/f9c2179bedd805ec1e1b7e405adbc4debecbe31c/datamodel_code_generator/parser/jsonschema.py#L1057-L1062

[2021-03-29 08:32] tstorek commented on #379
@koxudaxi well, i do not mean to implement it as default behavior rather then just havin the option  setting classname_generator as behavior. I mean for all classnames.

[2021-03-29 08:54] koxudaxi commented on #379
@tstorek
I think your suggestion is good.
OK, I will implement that the code-generator applies `custom_class_name_generator ` to all class names.
Thank you.

[2021-03-29 19:52] ofek commented on #334
https://datadoghq.dev/integrations-core/meta/config-models/

[2021-03-30 11:32] koxudaxi commented on #399
I thought about schema again 🤔
I don't know whether we can combine `allOf`, `properties`, and `items`.
If someone knows the spec then please write the detail here 🙏
Thank you.

[2021-03-30 12:47] rushabh-v commented on #399
Hi @koxudaxi, Thanks for responding!

Could you explain why `allOf`, `properties` and `items` can't be combined? I think understanding that will help me in my project, even if we can't get it to work here.

And I am willing to contribute if it is possible to get it working here.

Thanks!

[2021-03-30 14:33] rushabh-v commented on #399
Thanks for your willingness to fix this. I don't have the context to imagine the amount of work it will require but please let me know if you need any help.

Thank you :)

[2021-03-30 14:39] koxudaxi commented on #399
I always welcome PR!! But, I have already started fixing it 😅
Thank you.

[2021-03-30 15:27] koxudaxi commented on #399
I merged a fixed for combined `allOf` and `object`.
Next, I will implement a feature for combined `object` and `array` .
a better way is...
[code]

[2021-03-31 04:14] rushabh-v commented on #399
Hey, that was quick. Thanks :smile:

[2021-03-31 06:36] koxudaxi commented on #399
@rushabh-v
I'm implementing the feature.
But, I met a new problem.
Some inherited class is `__root__` model.
It means Pydantic can't treat these models.
We can only one choice  to resolve the problems
It's to ignore inherited `__root__` models.

What did you think of the way?

## Runtime error
[code]

## Generated Code
[code]

[2021-03-31 07:21] rushabh-v commented on #399
It's to ignore inherited \_\_root\_\_ models.

I agree, I think ignoring \_\_root\_\_ models would not matter that much.

[2021-03-31 15:59] koxudaxi commented on #399
@rushabh-v
I have released a new version as `0.10.1`
Would you please test it?

[2021-03-31 16:02] koxudaxi commented on #379
@tstorek
I have released a new version `0.10.1` that applies `custom_class_name_generator`  on all class names.

[2021-03-31 16:10] rushabh-v commented on #399
Thanks for the super quick fix @koxudaxi :)

Sure, just give me a minute, I'll test it and come back to you.

[2021-03-31 17:09] rushabh-v commented on #399
Hi @koxudaxi, there is one little problem.

Consider a schema where `"$schema": "http://json-schema.org/draft-07/schema#"`, in this case it will raise an index error on [these lines](https://github.com/koxudaxi/datamodel-code-generator/blob/master/datamodel_code_generator/parser/jsonschema.py#L1137-L1138
) because `ref.split('#', 1)[-1]` will return an empty string.

[2021-03-31 17:17] rushabh-v commented on #399
Sure, here is the traceback,
[code]

[2021-03-31 17:22] koxudaxi commented on #399
Thanks. Also, I need an input file or the URL too.
I'm sorry I must sleep now. I will check the problem tomorrow.

[2021-03-31 17:32] rushabh-v commented on #399
No problem, take your time :smile:

I got this error while using the codegen on an entire directory at once. Download [Schema.zip](https://github.com/koxudaxi/datamodel-code-generator/files/6238347/Schema.zip) and run it on the Schema directory. The command I am using is,

[code]

[2021-04-01 16:21] koxudaxi commented on #399
Thank you for giving me the schema.

I have understood why the error is happened.
The parser can't resolve actual $ref.
The files have $id attributes to indicate self url.
But, the file is in our local disk.
The parser is confused what file should read ....

I will fix it.

[2021-04-03 23:32] koxudaxi commented on #399
@rushabh-v
I'm sorry for late my work.
I have released a new version as 0.10.2
I believe fixed it.

[2021-04-04 05:42] rushabh-v commented on #399
Hi, works like a charm now :100:

Thanks for fixing it :)

Is the naming to the extra class given by one of these PRs. For example `Color1` in this [comment](https://github.com/koxudaxi/datamodel-code-generator/issues/399#issuecomment-810812386). If yes, then in my opinion we can name it like `_ClassName` instead of `ClassName1`.

It's only a suggestion, it's okay if you think `ClassName1` is bett

[2021-04-05 09:35] koxudaxi commented on #399
@rushabh-v
Thank you for testing it.

I agree. I think I should change the generated name for the class.
But, I feel `_ClassName` is a private class on python coding style. It's not correct in this context.
We don't know `ClassName` is a singular name? Or a name for the list?
`ClassNameModel` may be better than `ClassName1`.
However, the choice is not good.
If someone suggests a good name then I w

[2021-04-05 10:42] rushabh-v commented on #399
Hmm, reasonable.

No problem. And thanks again for fixing it, closing the issue!

[2021-04-05 10:42] #399 closed

[2021-04-05 17:42] iot-resister opened #407 "Dataclasses.dataclass Support?"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to install new dependencies when the feature is already in the standard lib. Pydantic and mypy are both competing to do validations. I'd like to just leave it to mypy.

**Describe the solution you'd like**
[code]
**Describe alternatives you've considered**

[code]

See: https://github.com/koxudaxi/

[2021-04-06 03:48] koxudaxi commented on #407
@iot-resister
Thank you for creating this issue.
This code generator is designed that we can add another output type.

But, `dataclasses.dataclass` don't cover all-case.
For example, `allOf` will be an inheritance model.  dataclass doesn't support inheritance.

However, some may users want it for using simple schemas.
TypeDict may good too.

I hope to hear the user's comments.

[2021-04-06 19:21] iot-resister commented on #407
@koxudaxi

I think `allOfcan`  can  be done:

https://github.com/s-knibbs/dataclasses-jsonschema/pull/75

TypeDict would be great! I hope people chime in!

[2021-04-12 11:25] m-kus opened #409 "oneOf items are not parsed recursively"
**Describe the bug**
Given the type `Union[int, List[A], B]`:
- A is treated as Any
- B class is generated empty with extra=allowed

**To Reproduce**

Example schema:
[code]

Used commandline:
[code]

**Expected behavior**
All the oneOf sub-schemas are parsed recursively.

**Version:**
 - OS: Ubuntu 18
 - Python version: 3.9
 - datamodel-code-generator version: 0.10.2

[2021-04-12 16:15] koxudaxi commented on #409
@m-kus
Thank you for creating this issue.
I have confirmed this problem.
I will fix it.

[2021-04-16 13:17] kmorris81 commented on #409
+1 on this.

[2021-04-18 09:31] #385 closed

[2021-04-18 09:32] #371 closed

[2021-04-18 09:39] #379 closed

[2021-04-18 10:15] koxudaxi commented on #409
@m-kus @kmorris81
I have released a fixed version as `0.10.3`.
I believe the code-generator can parse complex nested stracture.

[2021-04-19 02:45] kmorris81 commented on #409
Hi @koxudaxi
Thanks for the code update.  I tried it out against this schema and did not see any difference between the previous release (0.10.2)

https://www.liquid-technologies.com/Reference/XmlStudio/JsonEditorNotation_XXXOf.html

I guess I was expecting to see pydantic models generated for the `state/zipcode` and `county/postcode` options listed under the `oneOf` section.

Thoughts?

Thanks ag

[2021-04-19 06:36] m-kus commented on #409
Hey @koxudaxi, my case was fixed in 0.10.3, thanks a lot!
@kmorris81 I think this is a separate case with "factoring" out common parts of the subschemas.

[2021-04-19 10:13] m-kus commented on #409
@koxudaxi was able to reproduce on another sample, here is the snippet:

[code]

The output is
[code]

which is not what expected

[2021-04-19 13:40] koxudaxi commented on #409
@kmorris81
Thank you for testing the new version.
I guess the reason is other.
I call it is `combine` model.
a related issue is https://github.com/koxudaxi/datamodel-code-generator/issues/399
I will implement it.

[2021-04-19 14:51] koxudaxi commented on #409
@m-kus
Thank you for the additional comment.

I don't know `propertyNames`.
Do you have an idea to write `propertyNames` in pydnatic?

[2021-04-19 15:03] m-kus commented on #409
I think you can ignore `propertyNames` as it's always at least `{"type": "string"}`.
I meant that if `additionalProperties` type was treated as a fallback value type, we get `Dict[str, str]` which is more precise.

Here is another case that demonstrates it better:
[code]

And the resulting model is still:

[code]

Maybe should open another issue instead of spamming here? :)

[2021-04-19 15:10] koxudaxi commented on #409
@m-kus

Yes, I recommend opening a new issue.

I'm refactoring the code.
I try your schema. And I get this code.
[code]

[2021-04-19 18:32] koxudaxi commented on #409
I'm thinking whether `TokenInfo` should be `str` 🤔
` token_info: Dict[str, str]`

[2021-04-19 18:42] koxudaxi commented on #409
The model has `additionalProperties` is false.
But,  extra is allow 😢
[code]

[2021-04-21 17:48] koxudaxi opened #413 "Change internal interface and Improve model genenration [version 0.11.x]"
# Breaking Change

## Model generation
### additionalProperites
- reduce unnecessary custom root models
- parsing additionalProperites recursively

## Internal Interface
### JsonSchemaParser
#### change return type
-  `parse_any_of` DataType -> List[DataType]
-  `parse_one_of` DataType -> List[DataType]

## PR
- Improve parsing additionalProperties  #412
- Improve parsing complex object #411

[2021-04-21 17:57] koxudaxi commented on #409
@m-kus  @kmorris81
I have released fixed version `0.11.0`
Would you please check it?

[2021-04-22 01:11] kmorris81 commented on #409
Definitely a marked improvement!  Thanks for the follow-up and quick turnaround time on this!

[2021-04-22 09:42] m-kus commented on #409
@koxudaxi works like a charm, kudos and big thanks for the fixes!

[2021-04-24 13:02] #409 closed

[2021-04-24 15:24] #413 closed

[2021-04-28 09:21] xnuinside opened #419 "DDL as source input"
Hi, @koxudaxi , first of all thank you for you library - it's awesome. Second, I saw you comment in this PR https://github.com/koxudaxi/datamodel-code-generator/issues/40,
you said you expected use DDL of SQL also as source input.

Do you have any work in this way or ideas?
I can help with feature. For DDL,  for my projects, I started use sqlparse, but it was really sensitive to position of table

[2021-04-28 14:50] koxudaxi commented on #419
@xnuinside
Thank you for posting a good idea.
I expect the use-case for creating an ORM model from data.
https://fastapi.tiangolo.com/tutorial/sql-databases/?h=orm#use-pydantics-orm_mode

If the feature needs a new dependency then I set an option  `datamodel-code-generator[sql-ddl]` or more good option words.
And, We should implement a new Parser like this JsonSchemaParser.
https://github.com/koxu

[2021-04-28 15:57] xnuinside commented on #419
@koxudaxi, Thanks for your answer! I will take it in work and as soon as something will be ready to show it, I will open WIP PR for review.

[2021-04-29 00:48] goodoldneon opened #420 "IPv4Address doesn't import from pydantic.validators"
**Describe the bug**

When using `format: ipv4`, the following import is added to the output:

[code]

This isn't a valid import.

**To Reproduce**

Example schema:
[code]

Used commandline:
[code]

**Expected behavior**

When using `format: ipv4`, the following import is added to the output:

[code]

**Version:**
 - OS: MacOS
 - Python version: `3.9.2`
 - datamodel-code-generator version: `0.8.2`

[2021-04-29 13:40] koxudaxi commented on #420
@goodoldneon
Thank you for creating this issue and PR. I will review the PR soon.

[2021-04-29 16:58] #420 closed

[2021-04-30 20:32] miseqsprime opened #423 "Simple Use Case with CSV"
I'm attempting to use the library as a module, but having a difficult time figuring out the correct inputs for generate from the documentation. Command line usage is a no brainer:

[code]

[code]

... but when trying to include this in my own code (based on this example: https://koxudaxi.github.io/datamodel-code-generator/using_as_module/) ... I'm trying to figure out the most straight forward way

[2021-05-01 15:23] koxudaxi commented on #423
@nfarrar

Yes. currently, It's right.
But, We need a way to create easy. :thinking:

I have an idea that `generate()` will return results as str or dict.
What did you think about it?
[code]

[2021-05-05 04:48] philipbjorge opened #424 "Nullable Enum w/ `--enum-field-as-literal all` option is incompatible"
**Describe the bug**
We are creating a nullable enum type as described [here](https://github.com/OAI/OpenAPI-Specification/issues/1900#issuecomment-578409376) and supported [here](https://github.com/koxudaxi/datamodel-code-generator/pull/350).

**To Reproduce**

Example schema:
[code]

Used commandline:
[code]

**Expected behavior**
I expected my models to be generated looking like...
[code]

**Er

[2021-05-05 17:26] philipbjorge commented on #424
@koxudaxi --
Thank you so much for being so responsive on this project! Thanks for cutting a release too!
I didn't even have to explain to my team why we're taking a fork :)

[2021-05-05 17:26] #424 closed

[2021-05-05 17:36] koxudaxi commented on #424
@philipbjorge

I know the quick release is worth it. :smile:
Thank you very much.

[2021-05-05 18:02] koxudaxi commented on #424
@philipbjorge
Wow, Thank you for sponsoring me :laughing: :bowing_man:

[2021-05-05 18:58] philipbjorge commented on #424
@koxudaxi You deserve at least a 🍕 for lunch for this great project 🙇

[2021-05-15 14:47] shnups opened #428 "Custom template directory is ignored for Enums"
First of all, thanks for this great library, what a time saver ! :+1:

**Describe the bug**
If you pass a custom template directory through the cli, this directory is ignored while generating enums.

**To Reproduce**
Simply lauch the cli with `--custom-template-dir`

Example schema: Any schema will do

Used commandline:
[code]
where `/path/to/alternative/templates` has an `Enum.jinja2` file in it.

[2021-05-15 22:00] shnups opened #429 "Enum models swapped with a reused model are still generated"
**Describe the bug**
When using `--reuse-model`, a cached version of a similar model might be used. In these cases, for enums, the references to the original model are swapped to a reference to the cached model. However, the original models are still getting generated, even though they are not used anywhere anymore (as references to them have been swapped to the cached model).

**To Reproduce**

E

[2021-05-16 08:42] #428 closed

[2021-05-16 08:42] #429 closed

[2021-05-19 08:34] DavidMeu opened #433 "Generate schemas from paths."
Want to be able to create models from paths schemas.
Is there any way to nest and generate also from that level?
Example for that snippet:

[code]

model name `getUserById` with matching params.

[2021-05-20 14:56] koxudaxi commented on #433
@DavidMeu
Thank you for creating this issue.
I feel that this idea is good.
I will add the feature as a CLI option.

[2021-05-22 21:21] harshach commented on #392
@koxudaxi I am using 0.11.4 and still running into circular imports issue with openapi v3 schema. Is this fixed or still an open issue?

[2021-05-23 00:10] harshach commented on #392
Never mind! this is an issue on my schema side. Thanks

[2021-05-27 15:27] timini commented on #331
Is it possible to generate a model from jsonschema and use that model at runtime?

[2021-06-05 01:46] goodoldneon opened #437 "Differentiate "required with default", "required nullable", and "optional" properties"
**Is your feature request related to a problem? Please describe.**

Here's a repro: https://github.com/goodoldneon/datamodel-code-generator-Repro

OpenAPI allows you to specify properties as:
- Required
- Required with default
- Required nullable
- Unrequired

However, mashalling the `pydantic` models (e.g. `BaseModel.dict()`) will not differentiate them.

For example, let's say we have the follow

[2021-06-05 14:49] koxudaxi commented on #437
@goodoldneon
Thank you for creating this issue.
I see.

How do you want to realize this CLI arg?
I think you can use `--base-class BASE_CLASS` to change `BaseModel`.
Or, did you need another way?

[2021-06-06 14:38] goodoldneon commented on #437
I could use `--base-class` for the base class that overrides `dict`. But is there an existing way to add the `unset` default for unrequired properties? Unrequired fields need to default to a token/sentinel instead of `None`

[2021-06-06 15:44] koxudaxi commented on #437
I guess you can use prettyWood's custom base class with `--base-class`.

## your_app/custom_base.py
[code]

## generate models.
[code]

## your_app/models.py

[code]

Is this way what you want?

[2021-06-06 17:55] koxudaxi commented on #437
I'm sorry, I have not answered it yet.
the custom template may be able to set the default. But, we may need a flag to detect it.

[2021-06-06 17:58] goodoldneon commented on #437
I _think_ your example would work if instead of this:

[code]

It was this:

[code]

[2021-06-06 18:01] goodoldneon commented on #437
One more advantage to this `unset` approach is that Python code can differentiate between "property doesn't exist" and "property is `null`" in request bodies. Currently, our Python code has to treat both of them as `None`.

[2021-06-06 18:07] koxudaxi commented on #437
I feel that great approach.
We should change the below code.
https://github.com/koxudaxi/datamodel-code-generator/blob/dd49187c1853367dc704cc219c48a67fb4487535/datamodel_code_generator/model/base.py#L57-L69
https://github.com/koxudaxi/datamodel-code-generator/blob/dd49187c1853367dc704cc219c48a67fb4487535/datamodel_code_generator/model/pydantic/base_model.py#L77-L100

[2021-06-06 18:13] goodoldneon commented on #437
Sounds good! I'll work on it this week

[2021-06-07 17:06] koxudaxi commented on #433
@DavidMeu
I'm working on the issue.

Did you expect to create a root model like this?

[code]

[fastapi-code-generator](https://github.com/koxudaxi/fastapi-code-generator) can create a model from content in paths.

[2021-06-08 07:54] DavidMeu commented on #433
@koxudaxi
No just like the native way.
for:
[code]
creates:
[code]

And for the paths utility:
Another example:
for:
[code]
creates:
[code]

 Right but it is not from OpenAPI files

[2021-06-08 16:16] goodoldneon opened #440 "--enum-field-as-literal=one converts integer to string"
**Describe the bug**

When using the `--enum-field-as-literal=one` arg, the generated literal is always a string. Even if you explicitly set `type: integer`.

**To Reproduce**

Example schema:
[code]

Creates:

[code]

Used commandline:
[code]

**Expected behavior**

If an enum type is `integer` then the resulting literal is also an integer.

**Version:**
 - OS: macOS `11.4`
 - Python version: `3.

[2021-06-08 17:41] koxudaxi commented on #433
@DavidMeu
Thank you for show me examples.

What file type is the file? I have guessed the contents is OpenAPI :thinking:

I'm implementing a parser of paths that is for OpenAPI. https://github.com/koxudaxi/datamodel-code-generator/pull/438
Can not resolve the PR your problem?

[2021-06-08 17:47] koxudaxi commented on #440
Thank you for creating this issue.

I didn't expect integer or other literal types. :cry:

Yes, it should accept other types too.

[2021-06-09 17:53] #440 closed

[2021-06-11 09:40] MaurizioCasciano opened #446 "Subclass Model from JSON Schema does not extend BaseModel and redeclares superclass fields"
**Describe the bug**
When generating a Pydantic Model from a JSON Schema which has a superclass,
the generated class only extends the superclass from the JSON Schema and not the BaseModel.
In addition, the generated class redeclares the fields defined in the superclass, which causes an error.
The generated model has some regex constraints of the fields, but when I use it I get the they are not enf

[2021-06-11 11:33] Skeen opened #447 "Unable to generate models for meta jsonschema"
**Describe the bug**
I expected to be able to generate Pydanic models for validating JSONSchemas themselves.

**To Reproduce**
Fetch the json-schema meta-schema draft 7:
[code]
Run datamodel-codegen:
[code]

**Expected behavior**
I expected data-models able to parse JSONSchemas to be generated.

**Version:**
 - OS: [e.g. iOS] Ubuntu 20.04.2 LTS
 - Python version: Python 3.8.5
 - datamodel-code-gen

[2021-06-11 13:40] MaurizioCasciano commented on #446
@koxudaxi I'd be happy to contribute if you can point me to the file/code to modify.

[2021-06-11 16:08] koxudaxi commented on #446
@MaurizioCasciano

Thank you for creating this issue and writing the comment :smile:
I'm fixing it because the problem depends on logic deep inside. :bow:

[2021-06-11 16:31] koxudaxi commented on #447
@Skeen
Thank you for creating this issue.
I have confirmed the error.
But, I don't understand why the error occurs.
I will check it.

[2021-06-11 16:46] koxudaxi commented on #446
@MaurizioCasciano
I have released a fixed version as 0.11.8.

I look forward to next time :smile_cat:
Thank you very much.

[2021-06-11 16:52] MaurizioCasciano commented on #446
Thank you @koxudaxi

[2021-06-23 07:03] jaraqueffdc opened #453 "Tests folder installed in site-packages"
**Describe the bug**
I am not sure if this is a bug or something weird I am not understanding but when I installed the package, the tests folder was installed within `site-packages` instead of within this library folder which is causing that anything with my project's tests module is not importable. Within site-packages I can see the `datamodel_code_generator` library but then I noticed that there

[2021-06-24 13:23] ricoms opened #454 "CACHE_DIR created too late when using black as a library"
**Describe the bug**
A clear and concise description of what the bug is.

This is a twin on https://github.com/psf/black/issues/1223. And I raise the question: is black really necessary for datamodel-code-generator? sorry, probably I'm ignorant here.

**To Reproduce**

Run docker `build . --no-cache` with the following Dockerfile:

[code]
Output:
[code]

These logs (`INFO:blib2to3.pgen2.driver:Gen

[2021-06-24 23:53] koxudaxi commented on #453
@jaraqueffdc
Thank you for creating this issue.
I have not used `conda` yet.
I watch a virtual env directory.
But, I can't find the `tests`  directory.
I will try `conda` to reproduce your problem.

[code]

[2021-06-25 00:05] koxudaxi commented on #454
@ricoms
Thank you for creating this issue.
Interesting!!
We will be able to fix this problem by implementing this code.
https://github.com/ryantam626/jupyterlab_code_formatter/pull/102/files

[2021-06-25 06:25] jaraqueffdc commented on #453
Thanks! Just to let you know, I use conda but I intalled the package with pip so the installation should be the same as in a venv (not sure if there are any subtle differences I am not aware of).

The issue is not that the tests directory is within the installed package but that it appeared in the `site-packages` folder, i.e. one level above what makes it an importable module by itself hence shado

[2021-06-27 15:02] koxudaxi commented on #453
OK, I understand your situation when occurring the problem.
I don't usually use `macOS` and `Conda`.
I will try to reproduce the problem tomorrow after preparing the environment.

[2021-06-28 12:49] josemonteiro opened #455 "Generated Pydantic model may include invalid fields"
**Describe the bug**
Generated Pydantic models include invalid fields if they have the same name of internal `BaseModel` fields (e.g. `register`, `schema`).

**To Reproduce**

Example schema:
[code]

Used commandline:
[code]

Result:
[code]

When trying to use this model, Pydantic raises the following exception:
[code]

This is behavior was implemented in https://github.com/samuelcolvin/pydantic/p

[2021-06-28 14:49] koxudaxi commented on #455
@josemonteiro
Thank you for creating this issue.
Oh, I don't expect the invalid field names.
I will fix it.

[2021-06-29 04:42] ricoms commented on #437
did this solution reach any published version?

I have the following situation:

[code]

that generates something like this:

[code]

but I need it to create something like this:

[code]

[2021-07-01 15:39] koxudaxi commented on #437
@ricoms
Thank you for this feedback.
We have not resovled the problem yet.

[2021-07-02 08:53] gaborbernat opened #456 "Split long descriptions on multiple lines"
Description strings are currently injected as a single line, which is troublesome for long strings. We should ideally split them across multiple lines in such cases:

[code]

[code]

For this the user should perhaps pass some target line length 👍

[2021-07-04 14:57] koxudaxi commented on #456
Thank you for your great suggestion.
OK, I will add the CLI Option.

[2021-07-06 02:08] goodoldneon commented on #437
@ricoms I believe your problem is separate from this issue. You can get `List[Optional[float]]` using `oneOf`:

[code]

[2021-07-08 07:36] gaborbernat commented on #453
This is very much an issue with virtualenv. Easy to reproduce:

[code]

[2021-07-08 07:39] gaborbernat opened #457 "Use PEP-517 to specify build dependencies"
https://github.com/koxudaxi/datamodel-code-generator/blob/master/setup.cfg#L26-L28 is considered deprecated, you should instead use https://www.python.org/dev/peps/pep-0517/ and https://www.python.org/dev/peps/pep-0518, e.g. https://github.com/pypa/virtualenv/blob/main/pyproject.toml#L1-L7

[2021-07-08 07:41] gaborbernat opened #458 "setuptools test_requires is deprecated"
setuptools test_requires is deprecated https://github.com/koxudaxi/datamodel-code-generator/blob/master/setup.cfg#L43-L53 - see https://setuptools.readthedocs.io/en/latest/userguide/dependency_management.html#optional-dependencies, instead consider using https://tox.readthedocs.io/en/latest for example see https://github.com/pypa/virtualenv/blob/main/tox.ini

[2021-07-09 14:45] koxudaxi commented on #457
@gaborbernat
Thank you for creating this issue.
I will change it.

[2021-07-09 14:46] koxudaxi commented on #458
@gaborbernat
I will able to change it this weekend.
Thank you!!

[2021-07-20 08:01] JohnPreston opened #463 "Dependency upgrade: Jinja2, suppor version 3"
Hello,
Would it be possible to evaluate compatibility in using Jinja2 v3+ ? Installed that in my venv and not encountering any issues with 3.0.1
[code]
Many thanks,

[2021-07-21 06:44] DavidMeu commented on #433
correct

I'll check it out 10x

[2021-07-21 07:26] DavidMeu commented on #433
@koxudaxi
Is there some flag I should use?
What is the exact command sample?

[2021-07-23 05:24] sarangsbabu367 opened #464 "Support for adding validator decorator"
**Is your feature request related to a problem? Please describe.**
`pydantic` supports the provision to add a validator decorator for fields. Is there anyway to represent this in `jsonschema` and data-model-generator will generate this. This can be treated as a `custom-path` where decorator code will be present in the given path and during the model generation this method needs to be attached to t

[2021-07-23 15:27] koxudaxi commented on #463
@JohnPreston
Thank you for creating this issue.
OK, I will update the dependency.

[2021-07-23 15:30] koxudaxi commented on #464
@sarangsbabu367
Thank you for your suggestion.
I feel it's a good idea.
I will implement it when I finish other issues.

[2021-07-29 20:19] zthatch opened #470 "Resolve patternProperties"
**Is your feature request related to a problem? Please describe.**
I recently attempted to ingest a json schema containing patternProperties and they were completely ignored (generated model and silently left out these fields).

**Describe the solution you'd like**
Per https://github.com/samuelcolvin/pydantic/issues/329, I think that patternProperties should generate a
`var_name: typing.Dict[const

[2021-07-30 13:54] reb00ter opened #471 "Support JsonSchemaObject's additionalProperties: false"
As solution for issue https://github.com/koxudaxi/datamodel-code-generator/issues/82 has been added support for `additionalProperties: true`, but false values are ignored. And there is no way to restrict adding properties for model

Would be great, to have `extra = Extra.forbid` config option for models with `additionalProperties: false` param

Trying to set this option for base model, but in my c

[2021-07-31 08:57] #471 closed

[2021-07-31 08:59] koxudaxi commented on #470
@zthatch
Thank you for suggesting this idea.
OK, I will implement it.

[2021-07-31 10:00] koxudaxi commented on #455
@josemonteiro
I have published a new version as 0.11.9

[2021-07-31 10:03] koxudaxi commented on #463
@JohnPreston
[code]
I have changed the dependency and released a new version as  0.11.9

[2021-07-31 10:17] koxudaxi opened #474 "Use Poetry"
## Relate issue
https://github.com/koxudaxi/datamodel-code-generator/issues/458
https://github.com/koxudaxi/datamodel-code-generator/issues/453
https://github.com/koxudaxi/datamodel-code-generator/issues/457

[2021-07-31 17:06] koxudaxi commented on #458
I have removed `setup.cfg`. Because this project will use poetry.

Thank you!!

[2021-07-31 17:06] #458 closed

[2021-08-02 08:41] vogre commented on #433
Hello!

I've tried using the unreleased git version which includes #438 with an OpenAPI generated by FastAPI, and got the error
```Models not found in the input data```, when using `--openapi-scopes paths`. Should I be using https://github.com/koxudaxi/fastapi-code-generator instead?

A minimal schema for reproduction
[code]

[2021-08-03 04:23] gk12277 opened #481 "No relation between classes generated from nested objects"
**Describe the bug**

Not sure if its a bug or intended case.  I have a nested objects to which i have given a reference. When the classes are generated shouldn't the outermost class be related to the inner class in some way

**To Reproduce**

Example schema:
[code]

Used commandline:
[code]

**Expected behavior**

Generated file

[code]

Here shouldn't `UserProperties` and `HomeProperties` be rel

[2021-08-06 13:58] gaborbernat opened #483 "Use title for generating the names of objects inside anyOf/oneOf"
Currently the root key is used, but this has the side effect of elements being named as `RootItem1`, `RootItem2`, etc 👍

[2021-08-09 09:48] BozhidaraGYG opened #490 "Add authentication for remote $ref"
I have been trying to generate a pydantic model. One of the schemas has a remote $ref to an api that uses Basicauth. So it keeps failing :/

It would be great if one can pass auth parameters, e.g. like in [swagger-codegen](https://github.com/swagger-api/swagger-codegen) to access remote endpoints.

Thanks

[2021-08-09 17:53] koxudaxi commented on #481
@gk12277
Thank you for creating this issue.
Yes, I expected the behavior.

We don't need  `Components` in the generated file.
I can change to ignore `Components`.
But, `UserProperties` and `HomeProperties` should be removed?
I guess no problem that users can use the classes.

[2021-08-09 17:58] koxudaxi commented on #483
@gaborbernat
Thank you for your great idea.
I think we can use the idea for other types like `array`, `enum`, etc.
What do you think about it?

I will expect to add a new CLI option for the idea.
Because I wouldn't like to break the current behavior.

[2021-08-09 18:01] koxudaxi commented on #490
@BozhidaraGYG
Thank you for creating this issue.
That's a great suggestion.

I will implement it!

[2021-08-09 18:05] #446 closed

[2021-08-09 18:12] koxudaxi commented on #433
@DavidMeu
I'm sorry for my late reply.
I put the example.
[code]

Output
[code]

[2021-08-09 18:20] koxudaxi commented on #433
@vogre
I tried your example with the newest version of `datamodel-code-generator`
Did you expect the output?

[code]

Output
[code]

[2021-08-09 18:33] gaborbernat commented on #483
Sounds great to me :+1:

[2021-08-10 13:52] gaborbernat opened #492 "Use Annotated instead of cons variants"
The cons variants are not supported by mypy, instead one can use the Annotated form:

[code]

Because the type here becomes constr that to the type checker seems a new type, not a variant of str: https://www.python.org/dev/peps/pep-0593/ With the introduction of PEP-593 now instead one should do:

[code]

Now mypy will handle correctly both ``A().p`` and ``A().p = "b"``.

For more details see http

[2021-08-11 09:38] vogre commented on #433
@koxudaxi I expected to see the schema for `search_parameter`, but it's missing from the output. I'm getting no difference whether I'm passing `--openapi-scopes schemas` or `--openapi-scopes schemas paths`.

[2021-08-11 15:04] mboutet opened #494 "Invalid generated code with latest `prance==0.21.8.0` release"
**Describe the bug**
Latest `prance==0.21.8.0` causes invalid generated code for `datetime` field.

**To Reproduce**

Example schema:
[code]

Used commandline:
[code]

With `prance<0.21.8.0`, the generated model is:
<details>
  <summary>Click to expand!</summary>

[code]
</details>

With `prance==0.21.8.0`, the generated model is:
<details>
  <summary>Click to expand!</summary>

[code]
</details>

[2021-08-11 15:21] koxudaxi commented on #492
@gaborbernat
Thank you for suggesting the idea.
I know about `Annotated`.
I will implement the feature as a CLI option. :wink:

[2021-08-11 15:51] tseader opened #495 "Requiring one of two properties to exist but not both"
**Describe the bug**
Attempting to define a constraint where only one of two properties should exist but not both.

**To Reproduce**

Example schema:
[code]

Used commandline:
[code]

Resultant output:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

* Have all of the objects created in the output module
* A constraint to enforce existence of `AThing`

[2021-08-11 16:47] tseader commented on #495
As a manual proof of concept, this type of validation works:

[code]

Worth noting that validating `AThing` the same way doesn't work b/c `BThing` is not yet populated (not sure if that's the right word) - Put another way, Pydantic seems to evaluate the properties in top-to-bottom order.

Here's an example of a run:

Module content:
[code]

Output:
[code]

[2021-08-11 17:08] koxudaxi commented on #494
@mboutet
Thank you for reporting this issue.

I have understood why we get the error with prance version 0.21.8.0.
If we set a cli option ` --validation ` then `datamodel-code-generator` uses the result of prance validator as a YAML source.
https://github.com/koxudaxi/datamodel-code-generator/blob/b782b5df6de4355070420d05ce88de15f6c21602/datamodel_code_generator/parser/openapi.py#L340-L348

prance

[2021-08-11 17:29] mboutet commented on #494
Thanks a lot!

[2021-08-11 17:50] koxudaxi commented on #495
@tseader
I guess your schema may not be correct. :thinking:
https://json-schema.org/understanding-json-schema/reference/combining.html#oneof

I have created an example.
Would you please check it?

[code]

[code]

[code]

[2021-08-11 17:54] tseader commented on #495
Cool - let me try that out - So much for relying on StackOverflow.

[2021-08-11 18:36] #495 closed

[2021-08-12 15:19] #463 closed

[2021-08-12 15:20] #455 closed

[2021-08-12 17:05] koxudaxi commented on #494
@mboutet
I have released a new version as `0.11.11` :rocket:

[2021-08-12 17:05] #474 closed

[2021-08-12 17:07] koxudaxi commented on #457
A new version uses Poetry as a build system.
https://github.com/koxudaxi/datamodel-code-generator/blob/02c147a7a7a742dc1920f05c4dffe126ba1e1656/pyproject.toml#L23-L25

[2021-08-12 17:21] koxudaxi commented on #433
@vogre

Did you expect a model of this schema in your example?
[code]

This schema is string type.  So, the code-generator doesn't create a model for the schema.
What result do you want a result?

[2021-08-12 19:06] mboutet commented on #494
Works perfectly, thanks a lot!

[2021-08-12 19:06] #494 closed

[2021-08-13 06:56] jaraqueffdc commented on #453
Great thanks!

[2021-08-13 08:58] #453 closed

[2021-08-13 12:38] tseader commented on #495
@koxudaxi - What I find particularly complexing is that when I take this model that you created:

[code]

And do  a `Model.schema_json()`, I get and `anyOf` instead of `oneOf` in the resulting schema.  The concern is that going from JSON - to - PydanticModel - to - JSON results in slightly different results

[code]

[2021-08-13 17:59] shreyas44 opened #500 "Ref in OpenAPI not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Example schema:
[code]

[code]

Used commandline:
[code]

**Expected behavior**
The `$ref` in `test.yaml/Test` resolves to `test1.yaml#/TestNested`

**Version:**
 - OS: Ubuntu 20.04.1 LTS
 - Python version: 3.8.10
 - datamodel-code-generator version: [e.g. 22]

**Additional context**

The errors logs
[code]

[2021-08-15 17:28] koxudaxi commented on #500
@shreyas44
Thank you for creating this issue.
The code-generator doesn't support reference which is not started with `#/components` in OpenAPI.
I will implement the feature.

Thank you!!

[2021-08-16 06:23] shreyas44 commented on #500
Ahh got it, thanks!

[2021-08-17 16:35] Albulinek opened #504 "--reuse-model CLI parameter not behaving"
**Describe the bug**
When run with `--reuse-model`, it removes "duplicate" Enum, but the reference in data class remain numbered, causing not defined error.

I think fix in https://github.com/koxudaxi/datamodel-code-generator/issues/429 is not generating correct output

**To Reproduce**

Example schema:
Original schema can be found and download here: blob:https://documentation.extremenetworks.com/

[2021-08-18 07:57] Albulinek commented on #504
After more looking into the API definition I noticed that one of the definition is missing description.
I did not notice that at first glance.
[code]
opposite to:

[code]

[2021-08-18 19:07] koxudaxi commented on #504
@Albulinek
Thank you for creating this issue.
I'm fixing the bug.

[2021-08-19 16:11] haviduck commented on #500
i had a ref issue aswell, but running it through mermades converter solved it. i looked at this, and flattening sure looks promizing: https://github.com/sosed/openapi-ref-flatten

[2021-08-19 16:59] haviduck opened #506 "appending codesamples"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
a way to execute and append the output from a snippet generator and append it to the models.

**Describe alternatives you've considered**
Currently i'm running this on my schema to get x-codeSamples: https://github.com/cdwv/oas3-api-snippet-enricher.
Im running a custom redoc in fastapi wher

[2021-08-20 08:23] Albulinek commented on #504
@koxudaxi
Thank you!
I download latest commit from master, tested on our side, all looks good.

I appreciate your prompt fix! 👍

[2021-08-20 17:58] eg-firebolt opened #508 "pip install datamodel-code-generator[http] not working"
**To Reproduce**

In a fresh virtualenv, I am not able to install with [http] option as described by the README.

[code]

Usual install without http option works fine

**Version:**
 - OS: macOS
 - Python version: 3.9

[2021-08-21 08:50] koxudaxi commented on #508
@eg-firebolt
Thank you for creating this issue.
You should escape the `[ ]` because zsh detects `[ ]` as a special character.

[code]
or
[code]

We should write the topic on README.

[2021-08-21 10:04] koxudaxi commented on #447
@Skeen

I ran datamodel-code-generator for the schema
output:
[code]

I check the detail of the schema.
[code]

I don't understand why `items` have `true`. I expect a list of the object.

What do you think about it?

[2021-08-21 12:28] Skeen commented on #447
This is unexpected to me too, I'd have imagined either a type definition or a reference within an object, not just `true`.

[2021-08-23 12:59] cansukaynak opened #513 "Generate enum class as an inner class when defined in a model"
When an enum is defined as part of a model, the enum class generated is a standalone class.

For example, for

[code]

an enum class named `EnumDefinition` would be generated.

This would result in generation of enum classes like `EnumDefinition`, `EnumDefinition1`, `EnumDefinition2` etc. when the same enum property name is defined across different models.

Instead of this, would it be possible to

[2021-08-23 17:22] koxudaxi commented on #506
@haviduck
Thank you for sharing the link.
It's very interesting.

But, the project is written in JS. It's difficult to call the module directly from the codegen.
You can use a pipe to append the code example.

[code]

Is my idea what you want?

[2021-08-23 17:40] koxudaxi commented on #513
@cansukaynak
Thank you for creating this issue.
the short answer is No.

But, there is a workaround `--reuse-model`

## Input:
[code]

## Command
[code]

## Output
[code]

[2021-08-23 20:17] haviduck commented on #506
hey thanks for replying. thats what i did when i wrote this which i did before doing enough research :) . i found a way to automate it and happy with it.
for those interested, heres the approach for fastapi enriched docs
https://github.com/ErikWittern/openapi-snippet/issues/40#issuecomment-903119752

[2021-08-23 20:17] #506 closed

[2021-08-24 08:04] cansukaynak commented on #513
Thanks for the prompt answer @koxudaxi.

I had seen the `--reuse-model` option. However, in my use case, even though the enum name across different models are the same, the set of values differ. Hence, using the same enum class would not be an option for my use case.

With the inner class option, I would like to use the same enum name, but a different set of values in each enum definition.

[2021-08-30 07:13] BozhidaraGYG commented on #490
Amazing. Can't wait to try

[2021-08-31 10:39] gaborbernat commented on #456
How come the generated strings are now quoted with `'` instead of `"`?

[2021-09-03 21:43] cansukaynak commented on #513
@koxudaxi
Yes, `--use-title-as-name` is indeed quite helpful for my use case.
Thanks!

[2021-09-03 21:43] #513 closed

[2021-09-03 21:54] cansukaynak opened #531 "__root__ field in the list item class"
When I define a property like
[code]

The generated pydantic model looks like:

[code]

To access the value in a SomeListItem instance, one would need to access the `__root__` field, which is a private field. Would it be possible to also generate an accessor function, something like

[code]
inside the `SomeListItem` class to avoid access to this private field?

If not, is there any other recommend

[2021-09-08 07:09] koxudaxi commented on #531
@cansukaynak
I think `__root__` is not private, that is a special field.

I usually access an item inside root directly.
[code]

You can use a custom template for generating the public getter method.

[code]

There is a default template in the link.
https://github.com/koxudaxi/datamodel-code-generator/blob/master/datamodel_code_generator/model/template/pydantic/BaseModel_root.jinja2

[2021-09-08 21:38] omgirok opened #534 "`person.json` jsonschema -> model generation example doesn't work"
**Describe the bug**
Using the example on the website at this URL:
https://koxudaxi.github.io/datamodel-code-generator/jsonschema/
[code]

**To Reproduce**
Follow example here
https://koxudaxi.github.io/datamodel-code-generator/jsonschema/
Example schema:
[code]

Used commandline:
[code]

**Expected behavior**
Expected the model.py pydantic model to be generated

**Version:**
 - OS: Windows 10
 -

[2021-09-12 13:11] koxudaxi commented on #534
@omgirok
Thank you for creating this issue.
I just reproduced the problem with pydantic 1.5.1.
If I install pydnatic 1.8.1 then the error does not happen,
I will fix it.

[2021-09-12 23:38] omgirok commented on #534
Thank you so much @koxudaxim

[2021-09-13 01:14] shreyas44 commented on #500
Hey @koxudaxi, I know I'm very late but thanks a lot!

[2021-09-13 13:31] #500 closed

[2021-09-15 09:27] cansukaynak commented on #531
Thanks @koxudaxi
Writing a custom template should fix the issue for me.

[2021-09-15 09:27] #531 closed

[2021-09-15 09:50] cansukaynak commented on #433
@koxudaxi even when there are constraints introduced, the generator does not seem to be generating models for path/query schemas.

example:

[code]

referenced by:
[code]

command used to generate the model:
[code]

is this the expected behavior?

[2021-09-15 14:18] koxudaxi commented on #433
@cansukaynak

Yes.
I heard a lot of feedback from users.
And, I had known they usually don't want to generate constraints value.
like this.
[code]

[2021-09-15 14:20] koxudaxi commented on #534
@omgirok
The fixed just was released as 0.11.13
Thank you!!

[2021-09-16 09:15] gk12277 commented on #481
@koxudaxi Sorry for late reply
 Yes I think users can use `UserProperties` and `HomeProperties`

[2021-09-21 17:29] bkcsfi opened #549 "IndexError: string index out of range from openapi 3.0.0 yaml file"
**Describe the bug**
When  I attempt to use either of the schemas in the attached zip file as `--input`, I get a traceback

**To Reproduce**

[code]

Example schema:

[schemas.zip](https://github.com/koxudaxi/datamodel-code-generator/files/7205081/schemas.zip)

Used commandline:

[code]

**Expected behavior**

I expect to get a pydantic model

**Version:**
 - OS: Ubuntu 16
 - Python version: 3.7.1

[2021-09-21 17:38] bkcsfi commented on #549
problem possibly caused by a property name `'#'` as shown in this fragment below

[code]

[2021-09-22 12:29] #392 closed

[2021-09-22 13:04] koxudaxi commented on #456
@gaborbernat
I'm sorry for my late reply 🙇

I think the problem is related `skip-string-normalization`  option in toml.
Could you show me your pyproject.toml?

[2021-09-23 16:40] koxudaxi commented on #549
Thank you for creating this issue.

I can reproduce the problem.
OK, I will fix it.

[2021-09-23 16:43] shreyas44 opened #551 "Generate proper type for `nullable` but required fields"
**Is your feature request related to a problem? Please describe.**

Currently if `nullable` is set to `True` in the schema definition, the generated type is an `Optional`. Though this isn't wrong, there are still 2 things that aren't covered:
1. The field is nullable but required
2. While generating the json schema from the model, `nullable` isn't in the output

**Describe the solution you'd like*

[2021-09-24 06:13] gk12277 opened #553 "Option to add Config details to specific classes"
**Is your feature request related to a problem? Please describe.**
There are a number of options which can be given for Config class. Need a option to define config and its attributes for a particular class which will be generated.

**Describe the solution you'd like**
Need a way to specify that a specific class should have a config class with some options
[code]
Need some way to specify that gene

[2021-09-30 14:51] koxudaxi commented on #551
@shreyas44
I'm sorry for my response late.

You can use `--strict-nullable` option to get `Optional[str] = Field(...)`
[code]

I don't know any idea. If you need the result then I must change `--field-extra-keys ` option.
The option passes extra keys. But, `nullable` is ignored now.

[2021-09-30 15:08] koxudaxi commented on #553
@gk12277
There is `--custom-template-dir` option. And you can add the option to your custom template (jinja2 template).
What do you think about it?

[2021-10-06 13:51] freol35241 opened #564 "jsonschema `$ref` parsed as yaml?"
**Describe the bug**
`$ref`s in jsonschemas seems to be parsed as yaml? I get the following error when the parser tries to follow the `$ref`:

[code]

**To Reproduce**
When trying to generate code for the following example jsonschema (including a reference):

Example schema:
[code]

Used commandline:
[code]

**Expected behavior**
Successful generation of a pydantic model.

**Version:**
 - OS: Ubun

[2021-10-07 07:09] freol35241 commented on #564
Thanks for the answer @koxudaxi . It made me dig a bit deeper and this is actually quite interesting, it seems that the yaml parser is thrown off by different indentation in the JSON-files attached to this post. The first one works for me whereas the second one does not. I was under the belief that json is not sensitive to indentation?

[first_and_second.zip](https://github.com/koxudaxi/datamodel-

[2021-10-07 13:56] deepaerial opened #566 "Show more precise cause of "Invalid file format" exception"
**Is your feature request related to a problem? Please describe.**

I have RFC 8259 valid JSON (not `jsonschema` type) file with list of objects. When I try to run `datamodel-codegen --input list_of_leads.json --input-file-type json --output leads_model.py` command I get "Invalid file format" message. Interesting thing is that script works if list has one object in it. I think it fails because of

[2021-10-11 16:28] gk12277 commented on #553
@koxudaxi  `--custom-template-dir`  option is common for all classes right. We wont be able to specify one particular property for one class and another property for another class. eg:

[code]

Here class Foo needs `arbitrary_types_allowed`  and class Bar needs `use_enum_values`.

[2021-10-13 08:29] DavidMeu opened #578 "Auto generating None values for optional pydantic fields even when they are missing in the actual response."
Generated the client from: https://editor.swagger.io/#
API call return the Generated pydantic object with missing fields as `Nones` instead of not return them at all.
Basically this is because how the deserialization works:

Result before deserialization:
[code]
Result after deserialization:
[code]
The pydantic object:
[code]
Is there any way to not get the extra Generated pydantic fields (because